body
{
	background:#b3dde2;
}


h1
{
	color:#fff;
	margin:40px 0 60px 0;
	font-weight:600;
}


.mt-150{
    margin-right:200px;
}

.mt-bottom{
    margin-bottom:300px;
}
.our-team-main
{
	width:100%;
	height:auto;
	border-bottom:5px #323233 solid;
	background:rgb(162, 225, 236);
	text-align:center;
	border-radius:15px;
	overflow:hidden;
	position:relative;
	transition:0.5s;
	margin-bottom:28px;
}


.our-team-main img
{
	border-radius:50%;
	margin-bottom:20px;
    width: 90px;
 
}

.our-team-main h3
{
	font-size:20px;
	font-weight:700;
}



.our-team-main p
{
	margin-bottom:0;
}

.team-back
{
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	padding:5px 15px 0 15px;
	text-align:left;
	background:rgb(114, 171, 252);
	
}

.team-front
{
	width:100%;
    height:auto;
	position:relative;
	z-index:10;
	background:#fff;
	padding:15px;
	bottom:0px;
	transition: all 0.5s ease;
}

.our-team-main:hover .team-front
{
	bottom:-200px;
	transition: all 0.5s ease;
}

.our-team-main:hover
{
	border-color:#777;
	transition:0.5s;
}

/*our-team-main*/

