<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Schedule App</title>
    <link rel="stylesheet" href="../index.css" />
    <link rel="stylesheet" href="../public/boostrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../public/style/slider-custom.css" />
    <link rel="stylesheet" href="../public/jConfirm/jquery-confirm.min.css" />
    <link rel="stylesheet" href="../public/jtoaster/jquery.toast.min.css" />
    <link rel="stylesheet" href="../public/datatable/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="../public/style/back-button-custom.css" />
    <link rel="stylesheet" href="../public/style/custom-back.css" />

</head>
<body>
<div class="row" style="position: relative;width: calc(100vw - 2px);height: 100%;">

    <div id="navBarID" class="wrapper d-flex align-items-stretch" style="height: 100%">


        <!-- Page Content  -->
        <div class="w-100">
            <div class="w-100 title-custom form-inline">
                <button type="button" class="btn btn-warning btn-arrow-left" style="margin-left: 6%;" onclick="window.location.href='./student.html'">Back</button>

                <h2 class="title-font-custom">Academic Year and Semester</h2>
            </div>
            <div>
                <div class="card margin-1-custom">
                    <div class="card-body">

                        <button type="button" class="btn btn-success float-right mb-2" onclick="AddNewAcademicYearSemeseter()">Add New</button>

                        <table id="academicTable" class="display" style="width:100%">
                            <thead>
                            <tr>
                                <th>Academic Year and Semester</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>



</body>

<!-- Insert this line above script imports  -->
<script>
    if (typeof module === "object") {
        window.module = module;
        module = undefined;
    }
</script>

<!-- normal script imports etc  -->
<script src="../public/jquery.min.js"></script>
<script src="../public/popper.min.js"></script>
<script src="../public/boostrap/bootstrap.min.js"></script>
<script src="../public/script/slider-custom.js"></script>
<script src="../public/jConfirm/jquery-confirm.min.js"></script>
<script src="../public/jtoaster/jquery.toast.min.js"></script>
<script src="../public/datatable/jquery.dataTables.min.js"></script>

<!-- Insert this line after script imports -->
<script>

    if (window.module) module = window.module;
    const { navBar } = require('../siteMaster');

    const electron = require('electron');
    const {validateString, isNumber} = require("../services/applicationServices/commonServices");
    const { ipcRenderer } = electron;

    $(window).on("load", function () {
        $("#navBarID").prepend(navBar);

        // highlight page
        $('#liStudent').addClass('active');

    });

    
    $(function() {
        LoadTable();
    });

    function LoadTable(){

        // get all  Academic Year and Semeseter data
        const ademicList = ipcRenderer.sendSync('academic:get', null);

        var ademiclDatatable = $("#academicTable"); //find the table by id

        // table filling and initializing as data-table
        ademiclDatatable .DataTable ({
            "data" : ademicList,
            "ordering": true,
            "order": [[0, 'asc']],
            "columns" : [
                { "data" : "AcademicYearsandSemesters" },
                { 'data': null, className: 'text-center no-sort', 'render': function (data, type, row) {
                        return '<button type="botton" class="btn btn-warning btn-header" onclick="editAcademicYearSemeseter(' +data.id + ')"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>'
                    }
                },
                { 'data': null, className: 'text-center no-sort', 'render': function (data, type, row) {
                        return '<button type="botton" class="btn btn-danger btn-header" onclick="deleteAcademicYearSemeseter(' +data.id +',\''+data.AcademicYearsandSemesters+'\')"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>'
                    }
                },
            ]
        });

    }

    //reload table data
    function ReloadTable(){
        if ( $.fn.DataTable.isDataTable('#academicTable') ) {
            $('#academicTable').DataTable().destroy();
        }

        $('#academicTable tbody').empty();
        LoadTable();
    }


    // add new  Academic Year and Semeseter method
    function AddNewAcademicYearSemeseter(){

        $.confirm({
            title: 'New Academic Year and Semeseter!',
            content: '' +
                '<div>' +
                '<div class="form-group">' +
                '<label>Enter Academic Year and Semester(ex:Y1.S1)</label>' +
                '<input type="text" placeholder="Academic Year and Semester" class="name form-control" required />' +
                '</div>' +
                '</div>',
            buttons: {
                formSubmit: {
                    text: 'Submit',
                    btnClass: 'btn-blue',
                    action: function () {
                        var name = this.$content.find('.name').val(); //get the  Academic Year and Semeseter name

                        //check the name is not empty value
                        if (!name) {
                            $.alert('provide a valid Academic Year and Semeseter');
                            return false;
                        }

                        const splitVal = name.split('.');
                        if(splitVal.length !== 2){
                            $.alert('wrong format ! use format like \n Y1.S1 ');
                            return false;
                        }

                        if(splitVal[0].length !== 2 && splitVal[1].length !==2){
                            $.alert('wrong format ! use format like \n Y1.S1 ');
                            return false;
                        }

                        if(!validateString(splitVal[0].charAt(0)) || !isNumber(splitVal[0].charAt(1)) || !validateString(splitVal[1].charAt(0)) || !isNumber(splitVal[1].charAt(1))){
                            $.alert('wrong format ! use format like \n Y1.S1 ');
                            return false;
                        }

                        //saving  Academic Year and Semeseter to the database
                        ipcRenderer.sendSync('academic:add', name);

                        // reload the table
                        ReloadTable();

                    }
                },
                cancel: function () {
                    //close
                },
            },
            onContentReady: function () {

            }
        });

    }

    //edit  Academic Year and Semeseter data
    function editAcademicYearSemeseter(id){
        $.confirm({
            title: 'Edit Academic Year and Semeseter!',
            content: '' +
                '<div>' +
                '<div class="form-group">' +
                '<label>Enter Academic Year and Semeseter</label>' +
                '<input type="text" placeholder="Academic Year and Semeseter" class="name form-control" required />' +
                '</div>' +
                '</div>',
            buttons: {
                cancel: function () {
                    //close
                },
                formSubmit: {
                    text: 'Save',
                    btnClass: 'btn-blue',
                    action: function () {
                        var name = this.$content.find('.name').val();
                        if (!name) {
                            $.alert('provide a Academic Year and Semeseter');
                            return false;
                        }

                        const splitVal = name.split('.');
                        if(splitVal.length !== 2){
                            $.alert('wrong format ! use format like \n Y1.S1 ');
                            return false;
                        }

                        if(splitVal[0].length !== 2 && splitVal[1].length !==2){
                            $.alert('wrong format ! use format like \n Y1.S1 ');
                            return false;
                        }

                        if(!validateString(splitVal[0].charAt(0)) || !isNumber(splitVal[0].charAt(1)) || !validateString(splitVal[1].charAt(0)) || !isNumber(splitVal[1].charAt(1))){
                            $.alert('wrong format ! use format like \n Y1.S1 ');
                            return false;
                        }
                        // update data
                        const success = ipcRenderer.sendSync('academic:update', {id, name});

                        if(success){
                            ReloadTable();
                        }
                    }
                },
            },
            onContentReady: function () {
                //console.log(id)
                const academicData = ipcRenderer.sendSync('academic:getByID', id);
                //console.log(academicData);
                this.$content.find('.name').val(academicData[0].AcademicYearsandSemesters);
            }
        });
    }

    // delete data
    function deleteAcademicYearSemeseter(id, name){
        $.confirm({
            title: 'Confirm!',
            content: 'Confirm to remove "'+ name + '"',
            buttons: {
                confirm:  {
                    text: 'confirm', // text for button
                    btnClass: 'btn-danger', // class for the button
                    action: function(){
                        ipcRenderer.sendSync('academic:remove', id);

                        ReloadTable();
                    }
                },
                cancel: {
                    text: 'cancel', // text for button
                    btnClass: 'btn-warning', // class for the button
                    action: function(){

                    }
                }
            }
        });
    }

</script>

</html>
