<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8" />
            <title>Schedule App</title>
            <link rel="stylesheet" href="../index.css" />
            <link rel="stylesheet" href="../public/boostrap/bootstrap.min.css" />
            <link rel="stylesheet" href="../public/font-awesome-4.7.0/css/font-awesome.min.css" />
            <link rel="stylesheet" href="../public/style/slider-custom.css" />
            <link rel="stylesheet" href="../public/jConfirm/jquery-confirm.min.css" />
            <link rel="stylesheet" href="../public/jtoaster/jquery.toast.min.css" />
            <link rel="stylesheet" href="../public/datatable/jquery.dataTables.min.css" />

        </head>
<body>
<div class="row" style="position: relative;width: calc(100vw - 2px);height: 100%;">

    <div id="navBarID" class="wrapper d-flex align-items-stretch" style="height: 100%">


        <!-- Page Content  -->
        <div class="w-100">
            <div class="w-100 title-custom">
                <h2 class="title-font-custom">Buildings</h2>
            </div>
            <div>
                <div class="card margin-1-custom">
                    <div class="card-body">

                        <button type="button" id="btnAdd" class="btn btn-success float-right mb-2" onclick="AddNewBuilding()">Add New</button>

                        <table id="buildingTable" class="display" style="width:100%">
                            <thead>
                            <tr>
                                <th>Center</th>
                                <th>Building</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>



</body>

<!-- Insert this line above script imports  -->
<script>
    if (typeof module === "object") {
        window.module = module;
        module = undefined;
    }
</script>

<!-- normal script imports etc  -->
<script src="../public/jquery.min.js"></script>
<script src="../public/popper.min.js"></script>
<script src="../public/boostrap/bootstrap.min.js"></script>
<script src="../public/script/slider-custom.js"></script>
<script src="../public/jConfirm/jquery-confirm.min.js"></script>
<script src="../public/jtoaster/jquery.toast.min.js"></script>
<script src="../public/datatable/jquery.dataTables.min.js"></script>

<!-- Insert this line after script imports -->
<script>

    if (window.module) module = window.module;
    const { navBar } = require('../siteMaster');

    const electron = require('electron');
    const { ipcRenderer } = electron;

    $(window).on("load", function () {
        $("#navBarID").prepend(navBar);

        // highlight page
        $('#liSettings').addClass('active');

    });

    $(function() {
        LoadTable();
    });

    function LoadTable(){

        // get all building data
        const buildingList = ipcRenderer.sendSync('building:get', null);

        if(buildingList.length >= 7){
            $('#btnAdd').hide();
        }

        var tblDatatable = $("#buildingTable"); //find the table by id

        // table filling and initializing as data-table
        tblDatatable.DataTable ({
            "data" : buildingList,
            "ordering": false,
            "columns" : [
                { "data" : "centerName" },
                { "data" : "buildingName" },
                { 'data': null, className: 'text-center no-sort', 'render': function (data, type, row) {
                        return `<button type="botton" class="btn btn-warning btn-header" onclick="editBuilding(${data.id})"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>`
                    }
                },
                { 'data': null, className: 'text-center no-sort', 'render': function (data, type, row) {
                        return `<button type="botton" class="btn btn-danger btn-header" onclick="deleteBuilding(${data.id},'${data.buildingName}')"><i class="fa fa-pencil" aria-hidden="true"></i> Delete</button>`
                    }
                },
            ]
        });

    }

    //reload table data
    function ReloadTable(){
        if ( $.fn.DataTable.isDataTable('#buildingTable') ) {
            $('#buildingTable').DataTable().destroy();
        }

        $('#buildingTable tbody').empty();
        LoadTable();
    }

    // add new building method
    function AddNewBuilding(){
        const centers = ipcRenderer.sendSync('center:get', null);

        let ddl = '<select class="form-control center" required>';
        ddl += '<option value="0" selected disabled> Select center </option>';
        $.each(centers, function(i, center) {
                ddl += '<option value="' + center.id + '">' + center.centerName + '</option>';
        });
        ddl += '</select>';

        $.confirm({
            title: 'New Building!',
            content: `
                <div>
                    <div class="form-group">
                        <label>Enter building name</label>
                        <input type="text" placeholder="day name" class="name form-control" required />
                        <label>Select center</label>
                        ${ddl}
                    </div>
                </div>`,
            buttons: {
                cancel: function () {
                    //close
                },
                formSubmit: {
                    text: 'Submit',
                    btnClass: 'btn-blue',
                    action: function () {
                        var buildingName = this.$content.find('.name').val(); //get the building name
                        var center = this.$content.find('.center').val();

                        //check the name is not empty value
                        if (!buildingName) {
                            $.alert('provide a valid building name');
                            return false;
                        }
                        if (!center) {
                            $.alert('Select a center');
                            return false;
                        }

                        //saving building to the database
                        ipcRenderer.sendSync('building:add', { buildingName, center });

                        // reload the table
                        ReloadTable();

                    }
                },
            },
            onContentReady: function () {

            }
        });

    }

    //edit building data
    function editBuilding(id){
        const centers = ipcRenderer.sendSync('center:get', null);

        let ddl = '<select class="form-control center" required>';
        ddl += '<option value="0" selected disabled> Select center </option>';
        $.each(centers, function(i, center) {
            ddl += '<option value="' + center.id + '">' + center.centerName + '</option>';
        });
        ddl += '</select>';

        $.confirm({
            title: 'New Building!',
            content: `
                <div>
                    <div class="form-group">
                        <label>Enter building name</label>
                        <input type="text" placeholder="day name" class="name form-control" required />
                        <label>Select center</label>
                        ${ddl}
                    </div>
                </div>`,
            buttons: {
                cancel: function () {
                    //close
                },
                formSubmit: {
                    text: 'Save',
                    btnClass: 'btn-blue',
                    action: function () {
                        var buildingName = this.$content.find('.name').val(); //get the building name
                        var center = this.$content.find('.center').val();

                        //check the name is not empty value
                        if (!buildingName) {
                            $.alert('provide a valid building name');
                            return false;
                        }
                        if (!center) {
                            $.alert('Select a center');
                            return false;
                        }

                        // update data
                        const success = ipcRenderer.sendSync('building:update', { id, buildingName, center });

                        if(success){
                            ReloadTable();
                        }
                    }
                },
            },
            onContentReady: function () {
                const buildingData = ipcRenderer.sendSync('building:getByID', id);
                this.$content.find('.name').val(buildingData[0].buildingName);
                this.$content.find('.center').val(buildingData[0].center);
            }
        });
    }

    // delete data
    function deleteBuilding(id, name){
        $.confirm({
            title: 'Confirm!',
            content: 'Confirm to remove "'+ name + '"',
            buttons: {
                confirm:  {
                    text: 'confirm', // text for button
                    btnClass: 'btn-danger', // class for the button
                    action: function(){
                        ipcRenderer.sendSync('building:remove', id);

                        ReloadTable();
                    }
                },
                cancel: {
                    text: 'cancel', // text for button
                    btnClass: 'btn-warning', // class for the button
                    action: function(){

                    }
                }
            }
        });
    }

</script>

</html>
