<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Schedule App</title>
    <link rel="stylesheet" href="../index.css" />
    <link rel="stylesheet" href="../public/boostrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../public/style/slider-custom.css" />
    <link rel="stylesheet" href="../public/style/hours-custom.css" />
    <link rel="stylesheet" href="../public/style/material-custom.css" />
    <link rel="stylesheet" href="../public/jConfirm/jquery-confirm.min.css" />
    <link rel="stylesheet" href="../public/jtoaster/jquery.toast.min.css" />
    <link rel="stylesheet" href="../public/style/back-button-custom.css" />
    <link rel="stylesheet" href="../public/style/custom-back.css" />

</head>
<body>
<div class="row" style="position: relative;width: calc(100vw - 2px);height: 100%;">

    <div id="navBarID" class="wrapper d-flex align-items-stretch" style="height: 100%">


        <!-- Page Content  -->
        <div class="w-100">
            <div class="w-100 title-custom form-inline">
                <button type="button" class="btn btn-warning btn-arrow-left" style="margin-left: 6%;" onclick="window.location.href='./timetables.html'">Back</button>
                <h2 class="title-font-custom">Timetables</h2>
                <div class="pull-right" style="margin-left: 50%;">
                    <button type="button" class="btn btn-success" onclick="PrintElem()">Print</button>
                </div>
            </div>
            <div>
                <div class="margin-1-custom">
                    <div class="card-body setElement">

                    </div>
                </div>




            </div>

        </div>

    </div>

</div>



</body>

<!-- Insert this line above script imports  -->
<script>
    if (typeof module === "object") {
        window.module = module;
        module = undefined;
    }
</script>

<!-- normal script imports etc  -->
<script src="../public/jquery.min.js"></script>
<script src="../public/popper.min.js"></script>
<script src="../public/boostrap/bootstrap.min.js"></script>
<script src="../public/script/slider-custom.js"></script>
<script src="../public/jConfirm/jquery-confirm.min.js"></script>
<script src="../public/jtoaster/jquery.toast.min.js"></script>
<script src="../public/moment.js"></script>

<!-- Insert this line after script imports -->
<script>

    if (window.module) module = window.module;
    const { navBar } = require('../siteMaster');
    const { timeTableEnum } = require('../systemConst');
    const { objProx } = require('../services/systemSessionContainer');

    const electron = require('electron');
    const { ipcRenderer } = electron;

    const printer = require('electron-print');


    const { generateParallelSessions,
        generateNotAvailableSessionObjects,
        generateNotAvailableLectureObjects,
        generateConsecutiveSessions,
        generateOverlapSessions,
        generateNotAvailableSubGroupsObjects,
        generateNotAvailableRoomObjects
    } = require("../services/applicationServices/commonServices");

    const parallelSessionsList = generateParallelSessions(ipcRenderer);
    const consecutiveSessionsList = generateConsecutiveSessions(ipcRenderer);
    const notOverlapSessionsList = generateOverlapSessions(ipcRenderer);
    const notAvailableSessionsList = generateNotAvailableSessionObjects(ipcRenderer);
    const allNotAvailableLecturesList = generateNotAvailableLectureObjects(ipcRenderer);
    const notAvailableGroupsList = ipcRenderer.sendSync('notAvailableGroup:get', null);
    const notAvailableSubGroupsList = generateNotAvailableSubGroupsObjects(ipcRenderer);
    const notAvailableRoomsList = generateNotAvailableRoomObjects(ipcRenderer);
    const allSessions = ipcRenderer.sendSync('session:get', null);
    const allSubGroups = ipcRenderer.sendSync('sub-group:get', null);
    const allRoomSessions = ipcRenderer.sendSync('room-sessions:all', null);
    const allTagList = ipcRenderer.sendSync('room-sessions:all', null);

    //printing
    console.log('parallelSessionsList');
    console.log(JSON.stringify(parallelSessionsList));
    console.log('consecutiveSessionsList');
    console.log(JSON.stringify(consecutiveSessionsList));
    console.log('notOverlapSessionsList');
    console.log(JSON.stringify(notOverlapSessionsList));
    console.log('notAvailableSessionsList');
    console.log(JSON.stringify(notAvailableSessionsList));
    console.log('allNotAvailableLecturesList');
    console.log(JSON.stringify(allNotAvailableLecturesList));
    console.log('notAvailableGroupsList');
    console.log(JSON.stringify(notAvailableGroupsList));
    console.log('notAvailableSubGroupsList');
    console.log(JSON.stringify(notAvailableSubGroupsList));
    console.log('notAvailableRoomsList');
    console.log(JSON.stringify(notAvailableRoomsList));
    console.log('allSessions');
    console.log(JSON.stringify(allSessions));
    console.log('allSubGroups');
    console.log(JSON.stringify(allSubGroups));
    console.log('allRoomSessions');
    console.log(JSON.stringify(allRoomSessions));

    const addedSessionIDs = [];

    $(window).on("load", function () {
        $("#navBarID").prepend(navBar);

        // highlight page
        $('#liTimetables').addClass('active');

    });


    $(function() {
        ipcRenderer.sendSync('timeTableG:remove', null);
        generateTimeTables();
    });
    function selectGroups(){
        const academicList = ipcRenderer.sendSync('academic:get', null);
        const programList = ipcRenderer.sendSync('programme:getAllByRow', null);

        let generatedData = [];

        $.each(programList, function(i, program) {

            const start = program.startYearText;
            const end = program.endYearText;

            const startYear = Number(start.split('.')[0].match(/\d+/));
            const startSem = Number(start.split('.')[1].match(/\d+/));

            const endYear = Number(end.split('.')[0].match(/\d+/));
            const endSem = Number(end.split('.')[1].match(/\d+/));

            $.each(academicList, function(i, years) {

                const YearAC = Number(years.AcademicYearsandSemesters.split('.')[0].match(/\d+/));
                const SemAC = Number(years.AcademicYearsandSemesters.split('.')[1].match(/\d+/));

                if((startYear <= YearAC) && (endYear >=  YearAC)){

                    let isAllowed = false;

                    if(YearAC < endYear){
                        // ok
                        isAllowed = true;
                    }else if((YearAC === startYear) && (startSem <= SemAC)){
                        // ok
                        isAllowed = true;
                    }else if((YearAC === endYear) && (endSem >= SemAC)){
                        //ok
                        isAllowed = true;
                    }

                    if(isAllowed){
                        const displayData = years.AcademicYearsandSemesters + '.' + program.name;

                        const holdData = ipcRenderer.sendSync('hold-group:getByName', displayData);

                        if(holdData.length == 0){
                            const existsData = ipcRenderer.sendSync('group:getByName', displayData);

                            let groupCal = 0;
                            let studentCal = 0;

                            if(existsData.length > 0){
                                groupCal = existsData[0].groupCount;
                                studentCal = existsData[0].studentCount;
                            }
                            const timestamp = existsData.length > 0 ? existsData[0].id : Date.now();
                            generatedData.push({id: timestamp, name : displayData, group : groupCal, students : studentCal});
                        }


                    }
                }

            });

        });

        return generatedData;
    }

    const BrowserWindow = electron.remote.BrowserWindow;

    const current = document.getElementById('current');
    const options = {
        silent: false,
        printBackground: true,
        color: false,
        margin: {
            marginType: 'printableArea'
        },
        landscape: false,
        pagesPerSheet: 1,
        collate: false,
        copies: 1,
        header: 'Header of the Page',
        footer: 'Footer of the Page'
    }

    function PrintElem()
    {
        $('.title-custom').hide();
        let win = BrowserWindow.getFocusedWindow();
        // let win = BrowserWindow.getAllWindows()[0];

        win.webContents.print(options, (success, failureReason) => {
            if (!success) {
                $('.title-custom').show();
                console.log(failureReason);
            }else{
                $('.title-custom').show();
                console.log('Print Initiated');
            }

        });

    }

    function ViewTemplate(groupName, id){

        const data = ipcRenderer.sendSync('work:getByTypeRow', objProx.timeTableType);
        const rowsSet = ipcRenderer.sendSync('work:getByType', objProx.timeTableType);

        const maxRowsCount = Math.max.apply(Math, rowsSet.map(function(o) { return o.time; })) * 2;

        let tableHeader =  ' <thead><tr><th scope="col">Time</th>';
        // 
        $.each(data, function(i, item) {
            tableHeader += `<th scope="col" day="${item.dayID}">${item.day}</th>`;
        });

        tableHeader += '</tr></thead>';

        let tBody = '';

        let currentTime = '8.30';

        for(let r = 0; r < maxRowsCount; r++)
        {
            let tr = '<tr>';
            for (let c = 0; c < (data.length+1); c++)
            {
                if(c === 0){
                    tr += `<td time="${currentTime}">${currentTime}</td>`;
                }
                else{
                    tr += `<td time="${currentTime}"></td>`;
                }
            }
            currentTime = moment(currentTime,'h:mm').add(30, 'minutes').format('h:mm');

            tBody += tr;
        }

        let content = `<div class="mt-4">
                        <h4>${groupName}</h4>
                        <table class="table table-bordered"  id="tbl_timeSlot_${id}" groupName="${groupName}" groupID="${id}">
                          ${tableHeader}
                          <tbody>
                            ${tBody}
                          </tbody>
                        </table>
                        </div>`;

        $('.setElement').append(content);

        $('#tbl_timeSlot_'+id).find('thead').find('th').each(function (i, item){
            if(i !== 0){
                const currentDayTimeSet = ipcRenderer.sendSync('timetable:getByTypeAndDay', {type : objProx.timeTableType, day: $(item).attr('day')});

                $.each(currentDayTimeSet, function(n, timeVal) {
                    $(`#tbl_timeSlot_${id} tbody>tr`).each(function(){
                        let th = $(`#tbl_timeSlot_${id} th`).eq(i).html();
                        const cellTime = $(this).find("td:eq(" + i + ")").attr('time');

                        if(cellTime === timeVal.slot){
                            $(this).find("td:eq(" + i + ")").text('-').attr('period', timeVal.period).addClass(`day_${$(item).attr('day')}`);
                        }

                    });
                });

            }
        });

        $(`#tbl_timeSlot_${id}`).find('tbody').find('tr').find('td').each(function()
        {
            const $this = $(this);
            const index = $this.index();
            const txt =  $this.text();
            // 
            if ('' === txt)
            {
                $($this.parent().prev().children()[index]).attr('rowspan', 2);
                $this.hide().attr('hdn', 1).removeClass (function (index, className) {
                    return (className.match (/\bday_\S+/g) || []).join(' ');
                });
            }
        });

        const dayIds = [];
        $(`#tbl_timeSlot_${id}`).find('thead').find('th').each(function (){
            const has = $(this).attr('day');
            if (typeof has !== typeof undefined && has !== false) {
                dayIds.push(has);
            }
        });

        generateParallelSessionsToTable(groupName, id, `#tbl_timeSlot_${id}`, dayIds);
        generateConsecutiveSessionsToTable(groupName, id, `#tbl_timeSlot_${id}`, dayIds);
        generateSessionsToTable(groupName, id, `#tbl_timeSlot_${id}`, dayIds);

    }

    function generateSessionsToTable(groupName, groupID, tableID, dayIDs){
        const table = $(tableID);
        const groupAssociateConsecutiveSessions = allSessions.filter((s) => s.groupName === groupName);

        $.each(groupAssociateConsecutiveSessions, function (i, item){
            const maxDuration = item.duration;

            let perfectDay = 0;

            $.each(dayIDs, function (n, dayID) {
                let maxHold = 0;
                table.find('.day_' + dayID).each(function () {

                    const isBooked = $(this).attr('booked');

                    if (typeof isBooked === typeof undefined || isBooked === false) {
                        const period = $(this).attr('period');
                        maxHold += Number(period) / 60;
                    }
                });

                if(maxHold >= maxDuration){
                    perfectDay = dayID;
                    return false;
                }
            });

            if(perfectDay !== 0){

                let counter = 0;
                table.find(`.day_${perfectDay}`).each(function (x,val){
                    const isBooked = $(this).attr('booked');

                    if (typeof isBooked === typeof undefined || isBooked === false) {
                        const period = $(this).attr('period');

                        counter += (Number(period) / 60);

                        const lecturerIDs = [];

                        let lecID = item.lectures.split(',');
                        lecID.forEach(function(obj){
                            lecturerIDs.push(parseInt(obj,10));
                        });

                        let divContent = `<div>`;
                        divContent += `${item.subjectCode}-${item.subjectName}`;
                        divContent += `</br>`;
                        divContent += `${item.subGroup}`;
                        divContent += `</br>`;

                        //check sub group or group
                        if(item.subSubGroup){
                            divContent += `${item.subSubGroup}`;
                            divContent += `</br>`;
                        }

                        // rooms
                        const roomIdSet = [];
                        const roomSet = allRoomSessions.filter((r) => r.session === item.id);
                        $.each(roomSet, function (co, room){
                            if(!roomIdSet.includes(room.room)){
                                divContent += `${room.roomName}`;
                                roomIdSet.push(room.room);
                            }

                        });
                        divContent += `</br>`;

                        divContent += `</div>`;

                        const uniqueLecID = lecturerIDs.filter(function (elem, index, self) {
                            return index === self.indexOf(elem);
                        });


                        
                        $(val).html(divContent).attr('booked',1)
                            .attr('lectures', uniqueLecID.join(','))
                            .attr('rooms', roomIdSet.join(','));

                        const obj = {
                            ProgramID: groupID,
                            DayID: perfectDay,
                            TimePeriod: $(this).attr('time'),
                            SessionID: item.id,
                            Lecturers: uniqueLecID.join(','),
                            Rooms: roomIdSet.join(','),
                            roomIds:roomIdSet.join(',')
                        }
                        ipcRenderer.sendSync('timeTableG:add', obj );

                        if(counter >= Number(item.duration)){
                            counter = 0;
                        }

                        if(counter === 0)
                            return false;


                    }
                });
            }

        })
    }

    function generateConsecutiveSessionsToTable(groupName, groupID, tableID, dayIDs){
        const table = $(tableID);
        const groupAssociateConsecutiveSessions = consecutiveSessionsList.filter((s) => s.program === groupName);

        if(groupAssociateConsecutiveSessions.length <= 0)
            return ;

        $.each(groupAssociateConsecutiveSessions, function (i, item){
            let sessionIDList = [];
            sessionIDList.push(item.session1ID);
            sessionIDList.push(item.session2ID);
            sessionIDList.push(item.session3ID);

            sessionIDList = sessionIDList.filter( f => f !== 0);

            let maxDuration = 0;

            $.each(sessionIDList, function (x, val){
                const currentSession = allSessions.filter((s) => s.id === Number(val));
                maxDuration += currentSession[0].duration;

            });

            let perfectDay = 0;

            $.each(dayIDs, function (n, dayID) {
                let maxHold = 0;
                table.find('.day_' + dayID).each(function () {

                    const isBooked = $(this).attr('booked');

                    if (typeof isBooked === typeof undefined || isBooked === false) {
                        const period = $(this).attr('period');
                        maxHold += Number(period) / 60;
                    }
                });

                if(maxHold >= maxDuration){
                    perfectDay = dayID;
                    return false;
                }
            });

            if(perfectDay !== 0){

                const toApply = sessionIDList;
                let counter = 0;
                table.find(`.day_${perfectDay}`).each(function (x,val){
                    const isBooked = $(this).attr('booked');

                    if (typeof isBooked === typeof undefined || isBooked === false) {
                        const period = $(this).attr('period');

                        counter += (Number(period) / 60);

                        if(toApply.length === 0)
                            return false;

                        const lecturerIDs = [];

                        const sessionFor = allSessions.filter((se) => se.id === toApply[0]);

                        let lecID = sessionFor[0].lectures.split(',');
                        lecID.forEach(function(obj){
                            lecturerIDs.push(parseInt(obj,10));
                        });

                        let divContent = `<div>`;
                        divContent += `${sessionFor[0].subjectCode}-${sessionFor[0].subjectName}`;
                        divContent += `</br>`;
                        divContent += `${sessionFor[0].subGroup}`;
                        divContent += `</br>`;

                        // rooms
                        const roomIdSet = [];
                        const roomSet = allRoomSessions.filter((r) => r.session === sessionFor[0].id);
                        $.each(roomSet, function (co, room){
                            if(!roomIdSet.includes(room.room)){
                                divContent += `${room.roomName}`;
                                roomIdSet.push(room.room);
                            }

                        });
                        divContent += `</br>`;

                        divContent += `</div>`;

                        const uniqueLecID = lecturerIDs.filter(function (elem, index, self) {
                            return index === self.indexOf(elem);
                        });

                        $(val).html(divContent).attr('booked',1)
                            .attr('lectures', uniqueLecID.join(','))
                            .attr('rooms', roomIdSet.join(','));

                        const obj = {
                            ProgramID: groupID,
                            DayID: perfectDay,
                            TimePeriod: $(this).attr('time'),
                            SessionID: sessionIDList.join(','),
                            Lecturers: uniqueLecID.join(','),
                            Rooms: roomIdSet.join(','),
                            roomIds:roomIdSet.join(',')
                        }

                        ipcRenderer.sendSync('timeTableG:add', obj );

                        if(counter >= Number(sessionFor[0].duration)){
                            counter = 0;
                            toApply.shift();
                        }


                    }
                });
            }



        });

    }

    function generateParallelSessionsToTable(groupName, groupID, tableID, dayIDs){

        const table = $(tableID);

        const groupAssociateParallelSessions = parallelSessionsList.filter((s) => s.program === groupName);
        if(groupAssociateParallelSessions.length <= 0)
            return ;


        $.each(groupAssociateParallelSessions, function (i, item){
            //sessions
            let sessionIDList = [];
            sessionIDList.push(item.session1ID);
            sessionIDList.push(item.session2ID);
            sessionIDList.push(item.session3ID);
            sessionIDList.push(item.session4ID);
            sessionIDList.push(item.session5ID);
            sessionIDList.push(item.session6ID);

            sessionIDList = sessionIDList.filter( f => f !== 0);
            debugger;
            let maxDuration = 0;
            $.each(sessionIDList, function (x, val){
                const currentSession = allSessions.filter((s) => s.id === Number(val));
                if(currentSession.length > 0){
                    if(maxDuration < currentSession[0].duration){
                        maxDuration = currentSession[0].duration;
                    }
                }
            });
            
            //can check session overlaps


            $.each(dayIDs, function (n, dayID) {

                let cellWant = 0;
                let timeCount = 0;
                let success = false;

                let okToFit = false;

                table.find('.day_' + dayID).each(function () {

                    const isBooked = $(this).attr('booked');

                    if (typeof isBooked === typeof undefined || isBooked === false) {
                        const period = $(this).attr('period');
                        timeCount += Number(period) / 60;
                        cellWant += 1;
                        if (timeCount >= maxDuration) {
                            success = true;
                            return false;
                        }
                    }
                });

                if(success){
                    table.find(`.day_${dayID}`).each(function (x,val){
                        const period = $(this).attr('period');
                        if((x+1) <= cellWant){

                            let divContent = `<div>`;
                            const lecturerIDs = [];
                            const roomIdSet = [];
                            const roomNames = [];
                            $.each(sessionIDList, function (c, item_x){

                                const sessionFor = allSessions.filter((se) => se.id === item_x);

                                let lecID = sessionFor[0].lectures.split(',');
                                lecID.forEach(function(obj){
                                    lecturerIDs.push(parseInt(obj,10));
                                });

                                divContent += `${sessionFor[0].subjectCode}-${sessionFor[0].subjectName}`;
                                divContent += `</br>`;
                                divContent += `${sessionFor[0].subGroup}`;
                                divContent += `</br>`;

                                // rooms

                                const roomSet = allRoomSessions.filter((r) => r.session === sessionFor[0].id);
                                $.each(roomSet, function (co, room){
                                    if(!roomIdSet.includes(room.room)){
                                        roomNames.push(room.roomName);
                                        roomIdSet.push(room.room);
                                    }
                                });


                            });
                            divContent += `${roomNames.join(',')}`;
                            divContent += `</br>`;
                            divContent += `</div>`;

                            const uniqueLecID = lecturerIDs.filter(function (elem, index, self) {
                                return index === self.indexOf(elem);
                            });

                            $(val).html(divContent).attr('booked',1)
                                .attr('lectures', uniqueLecID.join(','))
                                .attr('rooms', roomIdSet.join(','));


                            const obj = {
                                ProgramID: groupID,
                                DayID: dayID,
                                TimePeriod: $(this).attr('time'),
                                SessionID: sessionIDList.join(','),
                                Lecturers: uniqueLecID.join(','),
                                Rooms: roomIdSet.join(','),
                                roomIds:roomIdSet.join(',')
                            }


                            ipcRenderer.sendSync('timeTableG:add', obj );

                        }

                        if((x+1) === cellWant){
                            okToFit = true;
                            return false;
                        }
                    });
                }

                if(okToFit)
                    return false;

            });




        });
    }


    function generateTimeTables(){
        const groups = selectGroups();
        $.each(groups, function (i,v){
            
            ViewTemplate(v.name, v.id);
        });
    }


</script>

</html>
