<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Schedule App</title>
    <link rel="stylesheet" href="../index.css" />
    <link rel="stylesheet" href="../public/boostrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../public/style/slider-custom.css" />
	  <link rel="stylesheet" href="../public/style/round-cur.css" />

	  <link rel="stylesheet" href="../public/jConfirm/jquery-confirm.min.css" />
	  <link rel="stylesheet" href="../public/jtoaster/jquery.toast.min.css" />

  </head>
  <body >
	<div class="row" style="position: relative;width: calc(100vw - 2px);height: 100%;" >

		<div id="navBarID" class="wrapper d-flex align-items-stretch" style="height: 100%">

			<!-- Page Content  -->
			<div class="w-100" >
				<div class="w-100 title-custom">
					<h2 class="title-font-custom">Shedule App</h2>
				</div>
				<div>  
					<div class="card margin-1-custom" >
						<section class="iq-features">
							<div class="container">
								<div class="row align-items-center">
									<div class="col-lg-3 col-md-12"></div>
									<div class="col-lg-6 col-md-12">
										<div class="holderCircle">
											<div class="round"></div>
											<div class="dotCircle">
                           <span class="itemDot active itemDot1" data-tab="1">
                           <i class="fa fa-clock-o"></i>
                           <span class="forActive"></span>
                           </span>
												<span class="itemDot itemDot2" data-tab="2">
                           <i class="fa fa-comments"></i>
                           <span class="forActive"></span>
                           </span>
												<span class="itemDot itemDot3" data-tab="3">
                           <i class="fa fa-user"></i>
                           <span class="forActive"></span>
                           </span>
												<span class="itemDot itemDot4" data-tab="4">
                           <i class="fa fa-tags"></i>
                           <span class="forActive"></span>
                           </span>
												<span class="itemDot itemDot5" data-tab="5">
                           <i class="fa fa-upload"></i>
                           <span class="forActive"></span>
                           </span>
												<span class="itemDot itemDot6" data-tab="6">
                           <i class="fa fa-briefcase"></i>
                           <span class="forActive"></span>
                           </span>
											</div>
											<div class="contentCircle" >
												<div class="CirItem title-box active CirItem1">
													<h2 class="title"><span>Time Tables</span></h2>
													<p>Timetables are a kind of schedule that sets out times at which specific events are intended to occur. </p>
													<i class="fa fa-clock-o"></i>
												</div>
												
												<div class="CirItem title-box CirItem2">
													<h2 class="title"><span>Chat </span></h2>
													<p>If there is any problem contact us viva	0382299668 or	@schduleapp@lk</p>
													<i class="fa fa-comments"></i>
												</div>

												<div class="CirItem title-box CirItem3">
													<h2 class="title"><span>About Us</span></h2>
													<p>We are a leading non-state degree awarding institute approved by the University Grants Commission (UGC) under the Universities Act. Contact Us : 0112277665</p>
													<i class="fa fa-user"></i>
												</div>

												<div class="CirItem title-box CirItem4">
													<h2 class="title"><span>Management</span></h2>
													<p>We are proud to announce that our industry internship programmes with leading multinational and local organizations in Sri Lanka.</p>
													<i class="fa fa-tags"></i>
												</div>
												<div class="CirItem title-box CirItem5">
													<h2 class="title"><span>Schedule App</span></h2>
													<p>In here contain the all the group details,progarmme and time tabels details ect.</p>
													<i class="fa fa-upload"></i>
												</div>
												<div class="CirItem title-box CirItem6">
													<h2 class="title"><span>Support</span></h2>
													<p>If there is any issue, you can get support viva support.@gmail.com</p>
													<i class="fa fa-briefcase"></i>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-12"></div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>

		</div>

	</div>



  </body>

  <!-- Insert this line above script imports  -->
  <script>
	  if (typeof module === "object") {
		  window.module = module;
		  module = undefined;
	  }
  </script>

  <!-- normal script imports etc  -->
  <script src="../public/jquery.min.js"></script>
  <script src="../public/popper.min.js"></script>
  <script src="../public/boostrap/bootstrap.min.js"></script>
  <script src="../public/script/slider-custom.js"></script>
  <script src="../public/jConfirm/jquery-confirm.min.js"></script>
  <script src="../public/jtoaster/jquery.toast.min.js"></script>
  <script src="../public/slick-carousel/slick.min.js"></script>
  <script src="../public/script/circle-cur.js"></script>

  <!-- Insert this line after script imports -->
  <script>
	  if (window.module) module = window.module;

	  const { navBar } = require('../siteMaster');

	  const { timeTableEnum } = require('../systemConst');
	  const { objProx } = require('../services/systemSessionContainer');

	  const electron = require('electron');
	  const { ipcRenderer } = electron;

	  $(window).on("load", function () {
		  $("#navBarID").prepend(navBar);

		  // highlight page
		  $('#liHome').addClass('active');
	  });



  </script>

</html>
