<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Schedule App</title>
    <link rel="stylesheet" href="../index.css" />
    <link rel="stylesheet" href="../public/boostrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../public/style/slider-custom.css" />
  </head>
  <body>
	<div class="row" style="position: relative;width: calc(100vw - 2px);height: 100%;">

		<div id="navBarID" class="wrapper d-flex align-items-stretch" style="height: 100%">

			<!-- Page Content  -->
			<div class="w-100">
				<div class="w-100 title-custom">
					<h2 class="title-font-custom">Timetables</h2>
				</div>
				<div>
					<table class="table">
						<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">First</th>
							<th scope="col">Last</th>
							<th scope="col">Handle</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<th scope="row">1</th>
							<td>Mark</td>
							<td>Otto</td>
							<td>@mdo</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Jacob</td>
							<td>Thornton</td>
							<td>@fat</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Larry</td>
							<td>the Bird</td>
							<td>@twitter</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>

	</div>



  </body>

  <!-- Insert this line above script imports  -->
  <script>
	  if (typeof module === "object") {
		  window.module = module;
		  module = undefined;
	  }
  </script>

  <!-- normal script imports etc  -->
  <script src="../public/jquery.min.js"></script>
  <script src="../public/popper.min.js"></script>
  <script src="../public/boostrap/bootstrap.min.js"></script>
  <script src="../public/script/slider-custom.js"></script>

  <!-- Insert this line after script imports -->
  <script>
	  if (window.module) module = window.module;

	  const { navBar } = require('../siteMaster');

	  $(window).on("load", function () {
		  $("#navBarID").prepend(navBar);

		  // highlight page
		  $('#liHome').addClass('active');
	  });

  </script>

</html>
