<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Schedule App</title>
    <link rel="stylesheet" href="../index.css" />
    <link rel="stylesheet" href="../public/boostrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../public/style/slider-custom.css" />
    <link rel="stylesheet" href="../public/style/hours-custom.css" />
    <link rel="stylesheet" href="../public/style/material-custom.css" />
    <link rel="stylesheet" href="../public/jConfirm/jquery-confirm.min.css" />
    <link rel="stylesheet" href="../public/jtoaster/jquery.toast.min.css" />

    <style>
        .my-card
        {
            position:absolute;
            left:40%;
            top:-20px;
            border-radius:50%;
        }
    </style>

</head>
<body>
<div class="row" style="position: relative;width: calc(100vw - 2px);height: 100%;">

    <div id="navBarID" class="wrapper d-flex align-items-stretch" style="height: 100%">


        <!-- Page Content  -->
        <div class="w-100">
            <div class="w-100 title-custom">
                <h2 class="title-font-custom">Locations</h2>
            </div>
            <div>
                <div class="card margin-1-custom">
                    <div class="jumbotron">
                        <div class="row w-100">
                            <div class="col-md-3">
                                <div class="card border-info mx-sm-1 p-3" style="cursor: pointer" onclick="RedirectTo('faculties')">
                                    <div class="card border-info shadow text-info p-3 my-card" ><span class="fa fa-sun-o" aria-hidden="true"></span></div>
                                    <div class="text-info text-center mt-3"><h4></h4></div>
                                    <div class="text-info text-center mt-2"><h1>Faculties</h1></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card border-success mx-sm-1 p-3" style="cursor: pointer" onclick="RedirectTo('studyTypes')">
                                    <div class="card border-success shadow text-success p-3 my-card"><span class="fa fa-eye" aria-hidden="true"></span></div>
                                    <div class="text-success text-center mt-3"><h4></h4></div>
                                    <div class="text-success text-center mt-2"><h1>Lab, Lecture hall and Tutorial</h1></div>
                                </div>
                            </div>
<!--                            <div class="col-md-3">-->
<!--                                <div class="card border-danger mx-sm-1 p-3">-->
<!--                                    <div class="card border-danger shadow text-danger p-3 my-card" ><span class="fa fa-heart" aria-hidden="true"></span></div>-->
<!--                                    <div class="text-danger text-center mt-3"><h4></h4></div>-->
<!--                                    <div class="text-danger text-center mt-2"><h1>346</h1></div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-md-3">-->
<!--                                <div class="card border-warning mx-sm-1 p-3">-->
<!--                                    <div class="card border-warning shadow text-warning p-3 my-card" ><span class="fa fa-inbox" aria-hidden="true"></span></div>-->
<!--                                    <div class="text-warning text-center mt-3"><h4></h4></div>-->
<!--                                    <div class="text-warning text-center mt-2"><h1>346</h1></div>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>



</body>

<!-- Insert this line above script imports  -->
<script>
    if (typeof module === "object") {
        window.module = module;
        module = undefined;
    }
</script>

<!-- normal script imports etc  -->
<script src="../public/jquery.min.js"></script>
<script src="../public/popper.min.js"></script>
<script src="../public/boostrap/bootstrap.min.js"></script>
<script src="../public/script/slider-custom.js"></script>
<script src="../public/jConfirm/jquery-confirm.min.js"></script>
<script src="../public/jtoaster/jquery.toast.min.js"></script>

<!-- Insert this line after script imports -->
<script>

    if (window.module) module = window.module;
    const { navBar } = require('../siteMaster');

    //import external js
    //$.getScript('../systemConst.js');
    //$.getScript('../services/systemSessionContainer.js');

    $(window).on("load", function () {
        $("#navBarID").prepend(navBar);

        // highlight page
        $('#liLocation').addClass('active');

    });

    $(function() {
    });

    function RedirectTo(value){
        if(value === 'faculties'){
            window.location.href = "./faculties.html";
        } else if(value === 'studyTypes'){
            window.location.href = "./studyTypes.html";
        }
    }

</script>

</html>
