<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Schedule App</title>
    <link rel="stylesheet" href="../index.css" />
    <link rel="stylesheet" href="../public/boostrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../public/style/slider-custom.css" />
    <link rel="stylesheet" href="../public/jConfirm/jquery-confirm.min.css" />
    <link rel="stylesheet" href="../public/jtoaster/jquery.toast.min.css" />
    <link rel="stylesheet" href="../public/datatable/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="../public/style/back-button-custom.css" />
    <link rel="stylesheet" href="../public/style/custom-back.css" />
    <link rel="stylesheet" href="../public/timepicker/jquery.timepicker.min.css" />
    <link rel="stylesheet" href="../public/mutiselect/jquery.multiselect.css" />


</head>
<body>
<div class="row" style="position: relative;width: calc(100vw - 2px);height: 100%;">

    <div id="navBarID" class="wrapper d-flex align-items-stretch" style="height: 100%">


        <!-- Page Content  -->
        <div class="w-100">
            <div class="w-100 title-custom form-inline">
                <button type="button" class="btn btn-warning btn-arrow-left" style="margin-left: 6%;" onclick="window.location.href='./notAvailableHome.html'">Back</button>

                <h2 class="title-font-custom">Not Available Time of Sessions</h2>
            </div>
            <div>
                <div class="card margin-1-custom">
                    <div class="card-body">

                        <button type="button" class="btn btn-success float-right mb-2" onclick="AddNewNotAvailableSession()">Add New</button>

                        <table id="tblNotAvailableSessions" class="display" style="width:100%">
                            <thead>
                            <tr>
                                <th>Lecturer Name</th>
                                <th>Module Code</th>
                                <th>Module Name</th>
                                <th>Tag</th>
                                <th>Group ID</th>
                                <th>Day</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>



</body>

<!-- Insert this line above script imports  -->
<script>
    if (typeof module === "object") {
        window.module = module;
        module = undefined;
    }
</script>

<!-- normal script imports etc  -->
<script src="../public/jquery.min.js"></script>
<script src="../public/popper.min.js"></script>
<script src="../public/boostrap/bootstrap.min.js"></script>
<script src="../public/script/slider-custom.js"></script>
<script src="../public/jConfirm/jquery-confirm.min.js"></script>
<script src="../public/jtoaster/jquery.toast.min.js"></script>
<script src="../public/datatable/jquery.dataTables.min.js"></script>
<script src="../public/timepicker/jquery.timepicker.min.js"></script>
<script src="../public/mutiselect/jquery.multiselect.js"></script>

<!-- Insert this line after script imports -->
<script>

    if (window.module) module = window.module;
    const { navBar } = require('../siteMaster');

    const electron = require('electron');
    const { ipcRenderer, remote  } = electron;

    const {generateSessionDetailObjects, generateNotAvailableSessionObjects} = require("../services/applicationServices/commonServices");

    $(window).on("load", function () {
        $("#navBarID").prepend(navBar);

        // highlight page
        $('#liGeneralSettings').addClass('active');

    });


    $(function() {

        LoadTable();
    });

    function LoadSessionTable(){
        $.confirm({
            title: 'Select Session',
            columnClass: 'col-md-12',
            content: `
                <div>
                    <table id="sessionTable" class="display" style="width:100%">
                            <thead>
                            <tr>
                                <th>Lecturer(s)</th>
                                <th>Subject</th>
                                <th>Subject code</th>
                                <th>Tag(s)</th>
                                <th>program</th>
                                <th>group</th>
                                <th>sub group</th>
                                <th>Student count</th>
                                <th>Duration</th>
                                <th>Select</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                       </table>
                </div>`,
            buttons: {
                formSubmit: {
                    text: 'OK',
                    btnClass: 'btn-blue',
                    action: function () {
                        let selectedSession = '';
                        $('.checkbox-c').each(function (){
                            const checkChecked = this.checked;
                            if(!checkChecked){
                                selectedSession = { id : $(this).attr('session'), name : $(this).attr('disp') };
                            }


                        });
                        if(selectedSession !== ''){
                            $('#lblSelectedSession').html(selectedSession.name);
                            $('#lblSelectedSession').attr('sessionsID', selectedSession.id);

                        }
                    }
                },
                cancel: function () {
                    //close
                },
            },
            onContentReady: function () {
                // get all room data
                const sessionList = generateSessionDetailObjects(ipcRenderer);

                var tblDatatable = $("#sessionTable"); //find the table by id

                // table filling and initializing as data-table
                tblDatatable.DataTable ({
                    "data" : sessionList,
                    "ordering": false,
                    "columns" : [
                        { "data" : "lecturerNames" },
                        { "data" : "subjectName" },
                        { "data" : "subjectCode" },
                        { "data" : "tagNames" },
                        { "data" : "groupName" },
                        { "data" : "subGroup" },
                        { "data" : "subSubGroup" },
                        { "data" : "student" },
                        { "data" : "duration" },
                        { 'data': null, className: 'text-center no-sort', 'render': function (data, type, row) {
                                return `<input type="checkbox" session="${data.id}" disp="${data.lecturerNames}-${data.subjectName}-${data.groupName}" style="width: 1vw;height: 3vh;" class="checkbox-c"/>`
                            }
                        }
                    ]
                });

                if($('#lblSelectedSession').attr('sessionsID') !== ''){
                    $('.checkbox-c').each(function (){
                        const sessionID = $(this).attr('session');
                        const checkID = $('#lblSelectedSession').attr('sessionsID');
                        if(sessionID === checkID){
                            $(this).prop('checked', true);
                        }
                        disableStatus();
                    });
                }

                $(".checkbox-c").change(function() {
                    disableStatus();
                });

                function disableStatus(){

                    let counter = 0;
                    $('.checkbox-c').each(function (){
                        const checkChecked = this.checked;
                        if(checkChecked)
                            counter++;

                    });

                    if(counter > 0){
                        $('.checkbox-c').each(function (){
                            const checkChecked = this.checked;
                            if(!checkChecked)
                                $(this).prop('disabled', true);

                        });
                    }else{
                        $('.checkbox-c').each(function (){
                            $(this).prop('disabled', false);

                        });
                    }
                }


            }
        });
    }

    function AddNewNotAvailableSession(){

        const days = ipcRenderer.sendSync('day:get', null);
        let daysSelection = '<select class="form-control days select-dropdown" required multiple="multiple">';
        $.each(days, function(i, day) {
            daysSelection += '<option value="' + day.id + '">' + day.day + '</option>';
        });
        daysSelection += '</select>';


        $.confirm({
            title: 'Add new not available times',
            content: `
                <div>
                    <div class="form-group">
                        <label id="lblSelectedSession" sessionsID="" style="color: rebeccapurple">no session selected</label>
                        <button type="button" id="btnSelectSession" class="btn btn-primary btn-lg btn-block">Select session</button>
                        <label>Select days</label>
                        ${daysSelection}
                        <label for="countNumber">From</label>
                        <input type="text" class="fromTime form-control timepicker" required />
                        <label>To</label>
                        <input type="text" class="toTime form-control timepicker" required />
                    </div>
                </div>`,
            buttons: {
                formSubmit: {
                    text: 'Submit',
                    btnClass: 'btn-blue',
                    action: function () {
                        debugger;
                        const session = this.$content.find('#lblSelectedSession').attr('sessionsID');
                        const daysSelected = this.$content.find('.days').val().join(',')
                        const fromTime = this.$content.find('.fromTime').val();
                        const toTime = this.$content.find('.toTime').val();

                        if (session === '') {
                            $.alert('please select session');
                            return false;
                        }

                        if (!daysSelected) {
                            $.alert('please select day(s)');
                            return false;
                        }

                        if (!fromTime) {
                            $.alert('please select from time');
                            return false;
                        }

                        if (!toTime) {
                            $.alert('please select to time');
                            return false;
                        }

                        //saving room to the database
                        ipcRenderer.sendSync('notAvailableSession:add', {
                            sessionID:session,
                            dayIDs:daysSelected,
                            timeFrom : fromTime,
                            timeTo : toTime
                        });

                        // reload the table
                        ReloadTable();

                    }
                },
                cancel: function () {
                    //close
                },
            },
            onContentReady: function () {
                $('.select-dropdown').multiselect({
                    search :true,
                    selectAll :true,
                    texts: {
                        placeholder    :'Select day(s)',
                        search         :'Search',
                        selectedOptions:' selected',
                        selectAll      :'Select all',
                        unselectAll    :'Unselect all',
                        noneSelected   :'None Selected'
                    },
                });

                $('.timepicker').timepicker({
                    timeFormat: 'h:mm p',
                    interval: 30,
                    minTime: '8:00am',
                    maxTime: '8:00pm',
                    defaultTime: '8.30am',
                    startTime: '8.30am',
                    dynamic: false,
                    dropdown: true,
                    scrollbar: true
                });

                this.$content.find('#btnSelectSession').on('click', function (){
                    ipcRenderer.send( "setMyGlobalVariable", '' );
                    $('#lblSelectedSession').html('no session selected');
                    LoadSessionTable();
                });
            }
        });
    }

    function editNotAvailableSessionTime(id){
        const days = ipcRenderer.sendSync('day:get', null);
        let daysSelection = '<select class="form-control days select-dropdown" required multiple="multiple">';
        $.each(days, function(i, day) {
            daysSelection += '<option value="' + day.id + '">' + day.day + '</option>';
        });
        daysSelection += '</select>';


        $.confirm({
            title: 'Add new not available times',
            content: `
                <div>
                    <div class="form-group">
                        <label id="lblSelectedSession" sessionsID="" style="color: rebeccapurple">no session selected</label>
                        <button type="button" id="btnSelectSession" class="btn btn-primary btn-lg btn-block">Select session</button>
                        <label>Select days</label>
                        ${daysSelection}
                        <label for="countNumber">From</label>
                        <input type="text" class="fromTime form-control timepicker" required />
                        <label>To</label>
                        <input type="text" class="toTime form-control timepicker" required />
                    </div>
                </div>`,
            buttons: {
                formSubmit: {
                    text: 'Submit',
                    btnClass: 'btn-blue',
                    action: function () {
                        const session = this.$content.find('#lblSelectedSession').attr('sessionsID');
                        const daysSelected = this.$content.find('.days').val().join(',')
                        const fromTime = this.$content.find('.fromTime').val();
                        const toTime = this.$content.find('.toTime').val();

                        if (session === '') {
                            $.alert('please select session');
                            return false;
                        }

                        if (!daysSelected) {
                            $.alert('please select day(s)');
                            return false;
                        }

                        if (!fromTime) {
                            $.alert('please select from time');
                            return false;
                        }

                        if (!toTime) {
                            $.alert('please select to time');
                            return false;
                        }

                        //saving room to the database
                        ipcRenderer.sendSync('notAvailableSession:update', {
                            id,
                            sessionID:session,
                            dayIDs:daysSelected,
                            timeFrom : fromTime,
                            timeTo : toTime
                        });

                        // reload the table
                        ReloadTable();

                    }
                },
                cancel: function () {
                    //close
                },
            },
            onContentReady: function () {
                $('.select-dropdown').multiselect({
                    search :true,
                    selectAll :true,
                    texts: {
                        placeholder    :'Select day(s)',
                        search         :'Search',
                        selectedOptions:' selected',
                        selectAll      :'Select all',
                        unselectAll    :'Unselect all',
                        noneSelected   :'None Selected'
                    },
                });

                $('.timepicker').timepicker({
                    timeFormat: 'h:mm p',
                    interval: 30,
                    minTime: '8:00am',
                    maxTime: '8:00pm',
                    defaultTime: '8.30am',
                    startTime: '8.30am',
                    dynamic: false,
                    dropdown: true,
                    scrollbar: true
                });

                this.$content.find('#btnSelectSession').on('click', function (){
                    LoadSessionTable();
                });

                const notAvailableSessionDataSet = ipcRenderer.sendSync('notAvailableSession:getByID', id);

                const dataDetail = notAvailableSessionDataSet[0];

                this.$content.find('#lblSelectedSession').attr('sessionsID', dataDetail.sessionID);

                const fullSessions = generateSessionDetailObjects(ipcRenderer);
                const currentSession = fullSessions.filter((s) => s.id === dataDetail.sessionID)[0];

                this.$content.find('#lblSelectedSession').html(`${currentSession.lecturerNames}-${currentSession.subjectName}-${currentSession.groupName}`);

                $.each(dataDetail.dayIDs.split(","), function(i,e){
                    $(".days option[value='" + Number(e) + "']").prop("selected", true);
                });

                $(".days").multiselect('reload');

                this.$content.find('.fromTime').val(dataDetail.timeFrom);
                this.$content.find('.toTime').val(dataDetail.timeTo);

            }
        });
    }

    function removeNotAvailableTimes(id, sessionID){
        const fullSessions = generateSessionDetailObjects(ipcRenderer);
        const currentSession = fullSessions.filter((s) => s.id === Number(sessionID))[0];

        $.confirm({
            title: 'Confirm!',
            content: 'Confirm to remove "'+ `${currentSession.lecturerNames}-${currentSession.subjectName}-${currentSession.groupName}` + '"',
            buttons: {
                confirm:  {
                    text: 'confirm', // text for button
                    btnClass: 'btn-danger', // class for the button
                    action: function(){
                        ipcRenderer.sendSync('notAvailableSession:remove', id);

                        ReloadTable();
                    }
                },
                cancel: {
                    text: 'cancel', // text for button
                    btnClass: 'btn-warning', // class for the button
                    action: function(){

                    }
                }
            }
        });
    }

    function LoadTable(){
        const notAvailableLecData = generateNotAvailableSessionObjects(ipcRenderer);

        // table filling and initializing as data-table
        $("#tblNotAvailableSessions").DataTable ({
            "data" : notAvailableLecData,
            "ordering": true,
            "order": [[0, 'asc']],
            "columns" : [
                { "data" : "lecturerNames" },
                { "data" : "subjectCode" },
                { "data" : "subjectName" },
                { "data" : "tagNames" },
                { "data" : "groupName" },
                { "data" : "dayNames" },
                { "data" : "timeFrom" },
                { "data" : "timeTo" },
                { 'data': null, className: 'text-center no-sort', 'render': function (data, type, row) {
                        return `<button type="botton" class="btn btn-warning btn-header" onclick=editNotAvailableSessionTime("${data.id}")><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>`
                    }
                },
                { 'data': null, className: 'text-center no-sort', 'render': function (data, type, row) {
                        return '<button type="botton" class="btn btn-danger btn-header" onclick="removeNotAvailableTimes(' +data.id +',\''+data.sessionID+'\')"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>'
                    }
                },
            ]
        });
    }

    function ReloadTable(){
        if ( $.fn.DataTable.isDataTable('#tblNotAvailableSessions') ) {
            $('#tblNotAvailableSessions').DataTable().destroy();
        }

        $('#tblNotAvailableSessions tbody').empty();
        LoadTable();
    }

    

</script>

</html>
