<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Schedule App</title>
    <link rel="stylesheet" href="../index.css" />
    <link rel="stylesheet" href="../public/boostrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../public/style/slider-custom.css" />
    <link rel="stylesheet" href="../public/style/timepicker.css" />
    <link rel="stylesheet" href="../public/jConfirm/jquery-confirm.min.css" />
    <link rel="stylesheet" href="../public/jtoaster/jquery.toast.min.css" />
    <link rel="stylesheet" href="../public/datatable/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="../public/style/back-button-custom.css" />
    <link rel="stylesheet" href="../public/style/custom-back.css" />
  

    <style>
        .ui-timepicker-standard {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    background-color: #FFF;
    border: 1px solid #AAA;
    color: #222;
    margin: 0;
    padding: 2px;
    z-index: 99999999999999 !important;
}
    </style>
 

</head>
<body>
<div class="row" style="position: relative;width: calc(100vw - 2px);height: 100%;">

    <div id="navBarID" class="wrapper d-flex align-items-stretch" style="height: 100%">


        <!-- Page Content  -->
        <div class="w-100">
            <div class="w-100 title-custom form-inline">
                <button type="button" class="btn btn-warning btn-arrow-left" style="margin-left: 6%;" onclick="window.location.href='./notAvailableHome.html'">Back</button>

                <h2 class="title-font-custom">Not Available Time of Groups</h2>
            </div>
            <div>
                <div class="card margin-1-custom">
                    <div class="card-body">

                        <button type="button" class="btn btn-success float-right mb-2" onclick="AddNewNotAvailableGroup()">Add New</button>

                        <table id="tblnotavailablegroups" class="display" style="width:100%">
                            <thead>
                            <tr>
                                <th>Group ID</th>
                                <th>Day</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>



</body>

<!-- Insert this line above script imports  -->
<script>
    if (typeof module === "object") {
        window.module = module;
        module = undefined;
    }
</script>

<!-- normal script imports etc  -->
<script src="../public/jquery.min.js"></script>
<script src="../public/popper.min.js"></script>
<script src="../public/boostrap/bootstrap.min.js"></script>
<script src="../public/script/slider-custom.js"></script>
<script src="../public/jConfirm/jquery-confirm.min.js"></script>
<script src="../public/jtoaster/jquery.toast.min.js"></script>
<script src="../public/datatable/jquery.dataTables.min.js"></script>


<!--jquery time picker-->
<script src="../public/script/timepicker.js"></script>


<!-- Insert this line after script imports -->
<script>

    if (window.module) module = window.module;
    const { navBar } = require('../siteMaster');

    const electron = require('electron');
    const { ipcRenderer } = electron;

    $(window).on("load", function () {
        $("#navBarID").prepend(navBar);

        // highlight page
        $('#liGeneralSettings').addClass('active');

    });


    $(function() {
        LoadTable();
    });

    function LoadTable(){

// get all NotAvailableGroups data
const NotAvailableGroupsList = ipcRenderer.sendSync('NotAvailableGroups:get', null);
var tblDatatable = $("#tblnotavailablegroups"); //find the table by id

// table filling and initializing as data-table
tblDatatable.DataTable ({
    "data" : NotAvailableGroupsList,
    "ordering": false,
    "columns" : [
        { "data" : "groupName" },
        { "data" : "fday" },
        { "data" : "fromt" },
        { "data" : "tot" },
        { 'data': null, className: 'text-center no-sort', 'render': function (data, type, row) {
                return `<button type="botton" class="btn btn-warning btn-header" onclick="editNotAvailableGroups(${data.notID})"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>`
            }
        },
        { 'data': null, className: 'text-center no-sort', 'render': function (data, type, row) {
                return `<button type="botton" class="btn btn-danger btn-header" onclick="deleteNotAvailableGroups(${data.notID},'${data.groupName}')"><i class="fa fa-pencil" aria-hidden="true"></i> Delete</button>`
            }
        },
    ]
});

}

//reload table data
function ReloadTable(){
if ( $.fn.DataTable.isDataTable('#tblnotavailablegroups') ) {
    $('#tblnotavailablegroups').DataTable().destroy();
}

$('#tblnotavailablegroups tbody').empty();
LoadTable();
}

// add new notavailablegroups method
function AddNewNotAvailableGroup(){
   
const groupName = ipcRenderer.sendSync('group:get', null);
let groupNameSelection = '<select class="form-control Groups" required>';
    groupNameSelection += '<option value="0" selected disabled> Select Group ID </option>';
$.each(groupName , function(i, Groups) {
    groupNameSelection += '<option value="' + Groups.id + '">' + Groups.groupName + '</option>';
});
groupNameSelection  += '</select>';

const day = ipcRenderer.sendSync('day:get', null);
let daySelection = '<select class="form-control Days" required>';
    daySelection += '<option value="0" selected disabled> Select Day </option>';
$.each(day, function(i,  Days) {
    daySelection += '<option value="' +  Days.id + '">' +  Days.day + '</option>';
});
daySelection += '</select>';


$.confirm({
    title: 'New Time for Not Available Groups!',
    content: `
        <div>
       
                <label>Select Group ID</label>
                ${groupNameSelection}

                <label>Select  Day</label>
                ${daySelection}

                

                <label>Enter From</label>
                <input type="text" name="timepicker" class="timepicker timeFrom" required >

                </br>

                <label>Enter To</label>
                <input type="text" name="timepicker" class="timepicker timeTo" required >
                
            </div>
        </div>`,
    buttons: {
        cancel: function () {
            //close
        },
        formSubmit: {
            text: 'Submit',
            btnClass: 'btn-blue',
            action: function () {
            
                let Groups = this.$content.find('.Groups').val();
                let Days = this.$content.find('.Days').val();
                let fromt = $('.timeFrom').val();
                let tot = $('.timeTo').val();
                //check the name is not empty value
        
           
                if (!Groups) {
                    $.alert('Select a valid Groups ID');
                    return false;
                } else Groups = Number(Groups);


                if (!Days) {
                    $.alert('Select a valid Days');
                    return false;
                } else Days = Number(Days);

                
                if (!fromt) {
                    $.alert('Enter time for from ');
                    return false;
                }

                if (!tot ) {
                    $.alert('Enter time for to');
                    return false;
                } 
               

                //saving notavailablegroups to the database
                debugger;
                ipcRenderer.sendSync('NotAvailableGroups:add', {groupid:Groups,day:Days,fromt:fromt,tot:tot });
                    
                // reload the table
                ReloadTable();

            }
        },
    },
    onContentReady: function () {
        $('.timepicker').timepicker({
            timeFormat: 'h:mm p',
            interval: 30,
            minTime: '8.30 AM',
            maxTime: '8:30 PM',
            startTime: '8:30 AM',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });

    }
});
}

//edit NotAvailableGroups data
function editNotAvailableGroups(id){
    const groupName = ipcRenderer.sendSync('group:get', null);
let groupNameSelection = '<select class="form-control Groups" required>';
    groupNameSelection += '<option value="0" selected disabled> Select Group ID </option>';
$.each(groupName , function(i, Groups) {
    groupNameSelection += '<option value="' + Groups.id + '">' + Groups.groupName + '</option>';
});
groupNameSelection  += '</select>';

const day = ipcRenderer.sendSync('day:get', null);
let daySelection = '<select class="form-control Days" required>';
    daySelection += '<option value="0" selected disabled> Select Day </option>';
$.each(day, function(i,  Days) {
    daySelection += '<option value="' +  Days.id + '">' +  Days.day + '</option>';
});
daySelection += '</select>';


$.confirm({
    title: 'New Time for Not Available Groups!',
    content: `
        <div>
       
                <label>Select Group ID</label>
                ${groupNameSelection}

                <label>Select  Day</label>
                ${daySelection}

                

                <label>Enter From</label>
                <input type="text" name="timepicker" class="timepicker timeFrom" required >

                </br>

                <label>Enter To</label>
                <input type="text" name="timepicker" class="timepicker timeTo" required >
                
            </div>
        </div>`,
            buttons: {
                cancel: function () {
                    //close
                },
                formSubmit: {
                    text: 'Save',
                    btnClass: 'btn-blue',
                    action: function () {

                      
                     
                let Groups = this.$content.find('.Groups').val();
                let Days = this.$content.find('.Days').val();
                let fromt = $('.timeFrom').val();
                let tot = $('.timeTo').val();

                //check the name is not empty value
        
           
                if (!Groups) {
                    $.alert('Select a valid Groups ID');
                    return false;
                } else Groups = Number(Groups);


                if (!Days) {
                    $.alert('Select a valid Days');
                    return false;
                } else Days = Number(Days);

                
                if (!fromt) {
                    $.alert('Enter time for from ');
                    return false;
                }

                if (!tot ) {
                    $.alert('Enter time for to');
                    return false;
                } 
            
               
                        // update data
                        debugger;
                        const success = ipcRenderer.sendSync('NotAvailableGroups:update', {id:id, groupid:Groups,day:Days,fromt:fromt,tot:tot });

                        if(success){
                            ReloadTable();
                        }

            }
        },
    },
    onContentReady: function () {
        $('.timepicker').timepicker({
            timeFormat: 'h:mm p',
            interval: 30,
            minTime: '8.30 AM',
            maxTime: '8:30 PM',
            startTime: '8:30 AM',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });

                  debugger;    
                const NotAvailableGroupsData = ipcRenderer.sendSync('NotAvailableGroups:getByID', id);
              
                this.$content.find('.Groups').val(NotAvailableGroupsData[0].groupid);
                this.$content.find('.Days').val(NotAvailableGroupsData[0].day);
                this.$content.find('.timeFrom').val(NotAvailableGroupsData[0].fromt);
                this.$content.find('.timeTo').val(NotAvailableGroupsData[0].tot);

    }
});
}


// delete data
function deleteNotAvailableGroups(id, groupid){
$.confirm({
    title: 'Confirm!',
    content: 'Confirm to remove "'+ groupid + '"',
    buttons: {
        confirm:  {
            text: 'confirm', // text for button
            btnClass: 'btn-danger', // class for the button
            action: function(){
                debugger;
                ipcRenderer.sendSync('NotAvailableGroups:remove', id);

                ReloadTable();
            }
        },
        cancel: {
            text: 'cancel', // text for button
            btnClass: 'btn-warning', // class for the button
            action: function(){

            }
        }
    }
});
}

</script>

</html>
