<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Schedule App</title>
    <link rel="stylesheet" href="../index.css" />
    <link rel="stylesheet" href="../public/boostrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../public/style/slider-custom.css" />
    <link rel="stylesheet" href="../public/jConfirm/jquery-confirm.min.css" />
    <link rel="stylesheet" href="../public/jtoaster/jquery.toast.min.css" />
    <link rel="stylesheet" href="../public/datatable/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="../public/style/slimselect.min.css" />
    <link rel="stylesheet" href="../public/mutiselect/jquery.multiselect.css" />
</head>
<body>
<div class="row" style="position: relative;width: calc(100vw - 2px);height: 100%;">

    <div id="navBarID" class="wrapper d-flex align-items-stretch" style="height: 100%">


        <!-- Page Content  -->
        <div class="w-100">
            <div class="w-100 title-custom">
                <h2 class="title-font-custom">Rooms</h2>
            </div>
            <div>
                <div class="card margin-1-custom">
                    <div class="card-body">

                        <button type="button" id="btnAdd" class="btn btn-success float-right mb-2" onclick="AddNewRoom()">Add New</button>

                        <table id="roomTable" class="display" style="width:100%">
                            <thead>
                            <tr>
                                <th>Room</th>
                                <th>Center</th>
                                <th>Building</th>
                                <th>Max. capacity</th>
                                <th>Assign</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>



</body>

<!-- Insert this line above script imports  -->
<script>
    if (typeof module === "object") {
        window.module = module;
        module = undefined;
    }
</script>

<!-- normal script imports etc  -->
<script src="../public/jquery.min.js"></script>
<script src="../public/popper.min.js"></script>
<script src="../public/boostrap/bootstrap.min.js"></script>
<script src="../public/script/slider-custom.js"></script>
<script src="../public/jConfirm/jquery-confirm.min.js"></script>
<script src="../public/jtoaster/jquery.toast.min.js"></script>
<script src="../public/datatable/jquery.dataTables.min.js"></script>
<script src="../public/script/slimselect.min.js"></script>
<script src="../public/mutiselect/jquery.multiselect.js"></script>

<!-- Insert this line after script imports -->
<script>

    if (window.module) module = window.module;
    const { navBar } = require('../siteMaster');

    const electron = require('electron');
    const { ipcRenderer } = electron;

    const {generateSessionDetailObjects, generateConsecutiveSessions} = require("../services/applicationServices/commonServices");

    $(window).on("load", function () {
        $("#navBarID").prepend(navBar);

        // highlight page
        $('#liSettings').addClass('active');

    });

    $(function() {
        LoadTable();
    });

    function LoadTable(){

        // get all room data
        const roomList = ipcRenderer.sendSync('room:get', null);

        if(roomList.length >= 7){
            $('#btnAdd').hide();
        }

        var tblDatatable = $("#roomTable"); //find the table by id

        // table filling and initializing as data-table
        tblDatatable.DataTable ({
            "data" : roomList,
            "ordering": false,
            "columns" : [
                { "data" : "roomName" },
                { "data" : "centerName" },
                { "data" : "buildingName" },
                { "data" : "capacity" },
                { 'data': null, className: 'text-center no-sort', 'render': function (data, type, row) {
                        return `<button type="botton" class="btn btn-info btn-header" onclick="assignForRoom(${data.id})"><i class="fa fa-pencil" aria-hidden="true"></i> Assign</button>`
                    }
                },
                { 'data': null, className: 'text-center no-sort', 'render': function (data, type, row) {
                        return `<button type="botton" class="btn btn-warning btn-header" onclick="editRoom(${data.id})"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>`
                    }
                },
                { 'data': null, className: 'text-center no-sort', 'render': function (data, type, row) {
                        return `<button type="botton" class="btn btn-danger btn-header" onclick="deleteRoom(${data.id},'${data.roomName}')"><i class="fa fa-pencil" aria-hidden="true"></i> Delete</button>`
                    }
                },
            ]
        });

    }

    //reload table data
    function ReloadTable(){
        if ( $.fn.DataTable.isDataTable('#roomTable') ) {
            $('#roomTable').DataTable().destroy();
        }

        $('#roomTable tbody').empty();
        LoadTable();
    }

    function updateBuildings(){
        const center = $('.center').val();
        if(center){
            $('.building').attr('disabled', false);
        } else {
            $('.building').attr('disabled', true);
        }
        $('.building').find('option').not('[value="0"]').remove();

        const centers = ipcRenderer.sendSync('building:getByCenterID', center);
        for(const center of centers){
            $('.building').append(new Option(center.buildingName, center.id));
        }
    }

    // add new room method
    function AddNewRoom(){
        const centers = ipcRenderer.sendSync('center:get', null);
        let centerSelection = '<select class="form-control center" onchange="updateBuildings()" required>';
        centerSelection += '<option value="0" selected disabled> Select center </option>';
        $.each(centers, function(i, center) {
            centerSelection += '<option value="' + center.id + '">' + center.centerName + '</option>';
        });
        centerSelection += '</select>';

        const building = ipcRenderer.sendSync('building:get', null);
        let buildingSelection = '<select class="form-control building" required>';
        buildingSelection += '<option value="0" selected disabled> Select building </option>';
        $.each(building, function(i, build) {
            buildingSelection += '<option value="' + build.id + '">' + build.buildingName + '</option>';
        });
        buildingSelection += '</select>';

        $.confirm({
            title: 'New Room!',
            content: `
                <div>
                    <div class="form-group">
                        <label>Enter room name</label>
                        <input type="text" placeholder="Room name" class="roomName form-control" required />

                        <label>Enter max. capacity</label>
                        <input type="number" placeholder="Capacity" class="capacity form-control" required />

                        <label>Select center</label>
                        ${centerSelection}
                        <label>Select building</label>
                        ${buildingSelection}
                    </div>
                </div>`,
            buttons: {
                cancel: function () {
                    //close
                },
                formSubmit: {
                    text: 'Submit',
                    btnClass: 'btn-blue',
                    action: function () {
                        let roomName = this.$content.find('.roomName').val(); //get the room name
                        let capacity = this.$content.find('.capacity').val();
                        let center = this.$content.find('.center').val();
                        let building = this.$content.find('.building').val();
                        // let tag = this.$content.find('.tag').val();

                        //check the name is not empty value
                        if (!roomName) {
                            $.alert('Provide a valid room name');
                            return false;
                        }
                        if (!capacity) {
                            $.alert('Provide a valid capacity');
                            return false;
                        } else capacity = Number(capacity);
                        if (!center) {
                            $.alert('Select a valid center name');
                            return false;
                        } else center = Number(center);
                        if (!building) {
                            $.alert('Select a valid building name');
                            return false;
                        } else building = Number(building);

                        //saving room to the database
                        ipcRenderer.sendSync('room:add', { roomName, capacity, center, building });

                        // reload the table
                        ReloadTable();

                    }
                },
            },
            onContentReady: function () {

            }
        });

    }

    function LoadConsecutiveSessionTable(id){
        $.confirm({
            title: 'Select Consecutive Sessions',
            columnClass: 'col-md-12',
            content: `
                <div>
                    <table id="tblConsecutiveSessions" class="display" style="width:100%">
                            <thead>
                            <tr>
                                <th>Programme</th>
                                <th>Session 1</th>
                                <th>Session 2</th>
                                <th>Session 3</th>
                                <th>Select</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                </div>`,
            buttons: {
                formSubmit: {
                    text: 'Save',
                    btnClass: 'btn-blue',
                    action: function () {
                        ipcRenderer.sendSync('room-consecutive-sessions:remove', id);
                        $('.checkbox-c').each(function (){
                            const checkChecked = this.checked;
                            if(checkChecked){
                                ipcRenderer.sendSync('room-consecutive-sessions:add', { roomID: id, conSessionID: Number($(this).attr('session')) });
                            }

                        });
                    }
                },
                cancel: function () {
                    //close
                },
            },
            onContentReady: function () {
                // get all room data
                const dataSet = generateConsecutiveSessions(ipcRenderer);

                // table filling and initializing as data-table
                $("#tblConsecutiveSessions").DataTable ({
                    "data" : dataSet,
                    "ordering": true,
                    "order": [[0, 'asc']],
                    "columns" : [
                        { "data" : "program" },
                        { "data" : "Session1Name" },
                        { "data" : "Session2Name" },
                        { "data" : "Session3Name" },
                        { 'data': null, className: 'text-center no-sort', 'render': function (data, type, row) {
                                return `<input type="checkbox" session="${data.id}" style="width: 1vw;height: 3vh;" class="checkbox-c"/>`
                            }
                        }
                    ]
                });

                if(id !== null){
                    const session = ipcRenderer.sendSync('room-consecutive-sessions:getByRoom', id);

                    if(session.length === 0)
                        return ;

                    $('.checkbox-c').each(function (){
                        const sessionID = Number($(this).attr('session'));
                        if(sessionID === session[0].conSessionID){
                            $(this).prop('checked', true);
                        }
                    });
                }


            }
        });
    }

    function selectSubGroup(text){
        const group = text;
        if(!group){
            return ;
        }

        const academicList = ipcRenderer.sendSync('extend-group:getByName', group);
        const counter = academicList.length > 0 ? academicList[0].groupCount : 0;
        const dataForChild = [];

        for(let x = 0; x < counter; x++){
            const groupNameSub = group + '.'+ (x+1);

            const holdData = ipcRenderer.sendSync('extend-hold-sub-group:getByName', groupNameSub);

            if(holdData.length == 0){
                const dataSub = ipcRenderer.sendSync('extend-sub-group:getByName', groupNameSub);

                let count = 0;

                if(dataSub.length > 0){
                    count = dataSub[0].studentCount;
                }

                dataForChild.push({id : x, name : groupNameSub, no: count });
            }
        }
        return dataForChild;

    }

    function selectGroups(){
        const academicList = ipcRenderer.sendSync('academic:get', null);
        const programList = ipcRenderer.sendSync('programme:getAllByRow', null);

        let generatedData = [];

        $.each(programList, function(i, program) {

            const start = program.startYearText;
            const end = program.endYearText;

            const startYear = Number(start.split('.')[0].match(/\d+/));
            const startSem = Number(start.split('.')[1].match(/\d+/));

            const endYear = Number(end.split('.')[0].match(/\d+/));
            const endSem = Number(end.split('.')[1].match(/\d+/));

            $.each(academicList, function(i, years) {

                const YearAC = Number(years.AcademicYearsandSemesters.split('.')[0].match(/\d+/));
                const SemAC = Number(years.AcademicYearsandSemesters.split('.')[1].match(/\d+/));

                if((startYear <= YearAC) && (endYear >=  YearAC)){

                    let isAllowed = false;

                    if(YearAC < endYear){
                        // ok
                        isAllowed = true;
                    }else if((YearAC === startYear) && (startSem <= SemAC)){
                        // ok
                        isAllowed = true;
                    }else if((YearAC === endYear) && (endSem >= SemAC)){
                        //ok
                        isAllowed = true;
                    }

                    if(isAllowed){
                        const displayData = years.AcademicYearsandSemesters + '.' + program.name;

                        const holdData = ipcRenderer.sendSync('hold-group:getByName', displayData);

                        if(holdData.length == 0){
                            const existsData = ipcRenderer.sendSync('group:getByName', displayData);

                            let groupCal = 0;
                            let studentCal = 0;

                            if(existsData.length > 0){
                                groupCal = existsData[0].groupCount;
                                studentCal = existsData[0].studentCount;
                            }

                            generatedData.push({id: years.id, name : displayData, group : groupCal, students : studentCal});
                        }


                    }
                }

            });

        });

        return generatedData;
    }

    function groupOnChange(text, count){
        const groupCount = count
        if(groupCount === 'undefined'){
            $('.sub-groups').empty();
        }

        let dataForChild = [];
        for(let x = 0; x < groupCount; x++){

            const groupNameSub =text + '.'+ (x+1);

            const holdData = ipcRenderer.sendSync('hold-sub-group:getByName', groupNameSub);

            if(holdData.length == 0){
                const dataSub = ipcRenderer.sendSync('sub-group:getByName', groupNameSub);

                let count = 0;

                if(dataSub.length > 0){
                    count = dataSub[0].studentCount;
                }

                dataForChild.push({id : x, name : groupNameSub, no: count });
            }
        }
        return dataForChild;
    }

    function assignForRoom(id) {
        const tags = ipcRenderer.sendSync('tag:get', null);
        let tagSelection = '<select class="form-control tag" multiple required>';
        $.each(tags, function(i, tag) {
            tagSelection += `<option value="${tag.id}">${tag.tagName}</option>`;
        });
        tagSelection += '</select>';

        const subjects = ipcRenderer.sendSync('subject:get', null);
        let subjectSelection = '<select class="form-control subject" multiple required>';
        $.each(subjects, function(i, subject) {
            subjectSelection += `<option value="${subject.id}">${subject.subjectName}</option>`;
        });
        subjectSelection += '</select>';

        const lecturers = ipcRenderer.sendSync('lecturer:get', null);
        let lecturerSelection = '<select class="form-control lecturer" multiple required>';
        $.each(lecturers, function(i, lecturer) {
            lecturerSelection += `<option value="${lecturer.id}">${lecturer.lecturerName}</option>`;
        });
        lecturerSelection += '</select>';

        const fullSessions = generateSessionDetailObjects(ipcRenderer);
        let sessionSelection = '<select class="form-control session" multiple required>';
        $.each(fullSessions, function(i, session) {
            sessionSelection += `<option value="${session.id}">${session.lecturerNames}-${session.subjectName}-${session.groupName}</option>`;
        });
        sessionSelection += '</select>';

        const groups = selectGroups();
        const subGroupList = [];
        $.each(groups, function(i, group) {
            const subGroups = groupOnChange(group.name,group.group);
            $.each(subGroups, function (x, sub){
                const subSubGroup = selectSubGroup(sub.name);
                $.each(subSubGroup, function (z, subSub){
                    subGroupList.push(subSub.name);
                });
            });
        });


        let groupSelection = '<select class="form-control groups select-dropdown" required onchange="groupOnChange()" multiple="multiple">';
        $.each(subGroupList, function(i, group) {
            groupSelection += '<option value="' + group + '">' + group + '</option>';
        });
        groupSelection += '</select>';

        $.confirm({
            title: 'Assign to Room!',
            content: `
                <div>
                    <div class="form-group">
                        <label>Select tags</label>
                        ${tagSelection}
                    </div>
                    <div class="form-group">
                        <label>Select subjects</label>
                        ${subjectSelection}
                    </div>
                    <div class="form-group">
                        <label>Select lecturers</label>
                        ${lecturerSelection}
                    </div>
                    <div class="form-group">
                        <label>Select sessions</label>
                        ${sessionSelection}
                    </div>
                    <div class="form-group">
                        <label>consecutive sessions</label>
                        <button type="button" class="btn btn-secondary" onclick="LoadConsecutiveSessionTable(id)">set consecutive sessions</button>
                    </div>
                     <label>groups</label>
                    <div class="form-group border">
                         <div class="form-group m-1">
                             <label>Select sub group(s)</label>
                            ${groupSelection}
                          </div>

                    </div>
                </div>`,
            buttons: {
                cancel: function () {
                    //close
                },
                formSubmit: {
                    text: 'Save',
                    btnClass: 'btn-blue',
                    action: function () {
                        const tags = this.$content.find('.tag').val(); //get the tag
                        const subjects = this.$content.find('.subject').val();
                        const lecturers = this.$content.find('.lecturer').val();
                        const sessions = this.$content.find('.session').val();
                        const subSubGroups = this.$content.find('.groups').val().join(',');
                        //check the name is not empty value
                        if (!tags) {
                            $.alert('Select a valid tags');
                            return false;
                        }
                        if (!subjects) {
                            $.alert('Select a valid subjects');
                            return false;
                        }
                        if (!lecturers) {
                            $.alert('Select a valid lecturers');
                            return false;
                        }
                        if (!sessions) {
                            $.alert('Select a valid sessions');
                            return false;
                        }

                        // update data
                        const tagsSuccess = ipcRenderer.sendSync('room-tags:update', { roomId: id, tagIds: tags });
                        const subjectsSuccess = ipcRenderer.sendSync('room-subjects:update', { roomId: id, subjectIds: subjects });
                        const lecturersSuccess = ipcRenderer.sendSync('room-lecturers:update', { roomId: id, lecturerIds: lecturers });
                        const sessionsSuccess = ipcRenderer.sendSync('room-sessions:update', { roomId: id, sessionIds: sessions });

                        ipcRenderer.sendSync('room-subGroup-sessions:remove', { roomId: id});
                        ipcRenderer.sendSync('room-subGroup-sessions:add', { roomId: id, SubGroups: subSubGroups});

                        if(tagsSuccess && subjectsSuccess && lecturersSuccess && sessionsSuccess){
                            ReloadTable();
                        }
                    }
                },
            },
            onContentReady: function () {

                $('.select-dropdown').multiselect({
                    search :true,
                    selectAll :true,
                    texts: {
                        placeholder    :'Select sub-group(s)',
                        search         :'Search',
                        selectedOptions:' selected',
                        selectAll      :'Select all',
                        unselectAll    :'Unselect all',
                        noneSelected   :'None Selected'
                    },
                });

                const roomTagsData = ipcRenderer.sendSync('room-tags:getByRoom', id);
                const roomSubjectsData = ipcRenderer.sendSync('room-subjects:getByRoom', id);
                const roomLecturersData = ipcRenderer.sendSync('room-lecturers:getByRoom', id);
                const roomSessionsData = ipcRenderer.sendSync('room-sessions:getByRoom', id);

                const tagList = [];
                $.each(roomTagsData, function(i, tag) {
                    tagList.push(tag.tagId);
                });
                const subjectList = [];
                $.each(roomSubjectsData, function(i, subject) {
                    subjectList.push(subject.subjectId);
                });
                const lecturerList = [];
                $.each(roomLecturersData, function(i, lecturer) {
                    lecturerList.push(lecturer.lecturerId);
                });
                const sessionList = [];
                $.each(roomSessionsData, function(i, session) {
                    sessionList.push(session.sessionId);
                });

                const tagsDropdown = new SlimSelect({
                    select: '.tag'
                });
                const subjectsDropdown = new SlimSelect({
                    select: '.subject'
                });
                const lecturersDropdown = new SlimSelect({
                    select: '.lecturer'
                });
                const sessionsDropdown = new SlimSelect({
                    select: '.session'
                });
                tagsDropdown.set(tagList);
                subjectsDropdown.set(subjectList);
                lecturersDropdown.set(lecturerList);
                sessionsDropdown.set(sessionList);

                const roomGroups = ipcRenderer.sendSync('room-subGroup-sessions:getByRoom', id);
                if(roomGroups.length > 0){
                    $.each(roomGroups[0].SubGroups.split(','), function(i, group) {
                        $(".groups option[value='" + group + "']").prop("selected", true);
                    });
                    $(".groups").multiselect('reload');
                }

            }
        });
    }

    //edit room data
    function editRoom(id){
        const centers = ipcRenderer.sendSync('center:get', null);
        let centerSelection = '<select class="form-control center" onchange="updateBuildings()" required>';
        centerSelection += '<option value="0" selected disabled> Select center </option>';
        $.each(centers, function(i, center) {
            centerSelection += '<option value="' + center.id + '">' + center.centerName + '</option>';
        });
        centerSelection += '</select>';

        $.confirm({
            title: 'Edit Room!',
            content: `
                <div>
                    <div class="form-group">
                        <label>Enter room name</label>
                        <input type="text" placeholder="Room name" class="roomName form-control" required />

                        <label>Enter max. capacity</label>
                        <input type="number" placeholder="Capacity" class="capacity form-control" required />

                        <label>Select center</label>
                        ${centerSelection}
                        <label>Select building</label>
                        <select class="form-control building" required disabled>
                            <option value="0" selected disabled> Select building </option>
                        </select>
                    </div>
                </div>`,
            buttons: {
                cancel: function () {
                    //close
                },
                formSubmit: {
                    text: 'Save',
                    btnClass: 'btn-blue',
                    action: function () {
                        let roomName = this.$content.find('.roomName').val(); //get the room name
                        let capacity = this.$content.find('.capacity').val();
                        let center = this.$content.find('.center').val();
                        let building = this.$content.find('.building').val();

                        //check the name is not empty value
                        if (!roomName) {
                            $.alert('Provide a valid room name');
                            return false;
                        }
                        if (!capacity) {
                            $.alert('Provide a valid capacity');
                            return false;
                        } else capacity = Number(capacity);
                        if (!center) {
                            $.alert('Select a valid center name');
                            return false;
                        } else center = Number(center);
                        if (!building) {
                            $.alert('Select a valid building name');
                            return false;
                        } else building = Number(building);

                        // update data
                        const success = ipcRenderer.sendSync('room:update', { id, roomName, capacity, center, building });

                        if(success){
                            ReloadTable();
                        }
                    }
                },
            },
            onContentReady: function () {
                const roomData = ipcRenderer.sendSync('room:getByID', id);
                this.$content.find('.roomName').val(roomData[0].roomName); //get the room name
                this.$content.find('.capacity').val(roomData[0].capacity);
                this.$content.find('.center').val(roomData[0].center);
                updateBuildings();
                this.$content.find('.building').val(roomData[0].building);
            }
        });
    }

    // delete data
    function deleteRoom(id, name){
        $.confirm({
            title: 'Confirm!',
            content: 'Confirm to remove "'+ name + '"',
            buttons: {
                confirm:  {
                    text: 'confirm', // text for button
                    btnClass: 'btn-danger', // class for the button
                    action: function(){
                        ipcRenderer.sendSync('room:remove', id);

                        ReloadTable();
                    }
                },
                cancel: {
                    text: 'cancel', // text for button
                    btnClass: 'btn-warning', // class for the button
                    action: function(){

                    }
                }
            }
        });
    }

</script>

</html>
