<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Schedule App</title>
    <link rel="stylesheet" href="../index.css" />
    <link rel="stylesheet" href="../public/boostrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../public/style/slider-custom.css" />
    <link rel="stylesheet" href="../public/jConfirm/jquery-confirm.min.css" />
    <link rel="stylesheet" href="../public/jtoaster/jquery.toast.min.css" />
    <link rel="stylesheet" href="../public/datatable/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="../public/style/slimselect.min.css" />
    <link rel="stylesheet" href="../public/mutiselect/jquery.multiselect.css" />
</head>
<body>
<div class="row" style="position: relative;width: calc(100vw - 2px);height: 100%;">

    <div id="navBarID" class="wrapper d-flex align-items-stretch" style="height: 100%">


        <!-- Page Content  -->
        <div class="w-100">
            <div class="w-100 title-custom">
                <h2 class="title-font-custom">Sessions</h2>
            </div>
            <div>
                <div class="card margin-1-custom">
                    <div class="card-body">

                        <button type="button" id="btnAdd" class="btn btn-success float-right mb-2" onclick="AddNewSession()">Add New</button>

                    </div>
                </div>

            </div>
        </div>

    </div>

</div>



</body>

<!-- Insert this line above script imports  -->
<script>
    if (typeof module === "object") {
        window.module = module;
        module = undefined;
    }
</script>

<!-- normal script imports etc  -->
<script src="../public/jquery.min.js"></script>
<script src="../public/popper.min.js"></script>
<script src="../public/boostrap/bootstrap.min.js"></script>
<script src="../public/script/slider-custom.js"></script>
<script src="../public/jConfirm/jquery-confirm.min.js"></script>
<script src="../public/jtoaster/jquery.toast.min.js"></script>
<script src="../public/datatable/jquery.dataTables.min.js"></script>
<script src="../public/script/slimselect.min.js"></script>
<script src="../public/mutiselect/jquery.multiselect.js"></script>

<!-- Insert this line after script imports -->
<script>

    if (window.module) module = window.module;
    const { navBar } = require('../siteMaster');

    const electron = require('electron');
    const { ipcRenderer } = electron;

    $(window).on("load", function () {
        $("#navBarID").prepend(navBar);

        // highlight page
        $('#liSession').addClass('active');

    });

    $(function() {

    });
    // add new room method
    function AddNewSession(){
        const lectures = ipcRenderer.sendSync('lecturer:get', null);
        let lecturesSelection = '<select class="form-control lectures select-dropdown" required multiple="multiple">';
        $.each(lectures, function(i, center) {
            lecturesSelection += '<option value="' + center.id + '">' + center.lecturerName + '</option>';
        });
        lecturesSelection += '</select>';

        const tags = ipcRenderer.sendSync('tag:get', null);
        let tagsSelection = '<select class="form-control tags select-dropdown" required multiple="multiple">';
        $.each(tags, function(i, tag) {
            tagsSelection += '<option value="' + tag.id + '">' + tag.tagName + '</option>';
        });
        tagsSelection += '</select>';

        const groups = selectGroups();

        let groupSelection = '<select class="form-control groups" required onchange="groupOnChange()">';
        groupSelection += '<option value="0" selected disabled>Select group</option>';
        $.each(groups, function(i, group) {
            groupSelection += '<option value="' + group.id + '" count="' + group.group + '">' + group.name + '</option>';
        });
        groupSelection += '</select>';

        const subGroupSelection = '<select class="form-control sub-groups" required ></select>';

        $.confirm({
            title: 'New Session',
            content: `
                <div>
                    <div class="form-group">
                        <label>Select lecturer(s)</label>
                        ${lecturesSelection}
                        <label>Select tag(s)</label>
                        ${tagsSelection}
                        <label>Select group</label>
                        ${groupSelection}
                        <label>Select sub-group</label>
                        ${subGroupSelection}
                        <label for="countNumber">Enter student count</label>
                        <input type="number" min="1" id="countNumber" placeholder="count" class="count form-control" required />
                        <label>Enter duration</label>
                        <input type="number" min="1" max="2" class="duration form-control">
                    </div>
                </div>`,
            buttons: {
                cancel: function () {
                    //close
                },
                formSubmit: {
                    text: 'Submit',
                    btnClass: 'btn-blue',
                    action: function () {
                        let roomName = this.$content.find('.roomName').val(); //get the room name
                        let capacity = this.$content.find('.capacity').val();
                        let center = this.$content.find('.center').val();
                        let building = this.$content.find('.building').val();
                        // let tag = this.$content.find('.tag').val();

                        //check the name is not empty value
                        if (!roomName) {
                            $.alert('Provide a valid room name');
                            return false;
                        }
                        if (!capacity) {
                            $.alert('Provide a valid capacity');
                            return false;
                        } else capacity = Number(capacity);
                        if (!center) {
                            $.alert('Select a valid center name');
                            return false;
                        } else center = Number(center);
                        if (!building) {
                            $.alert('Select a valid building name');
                            return false;
                        } else building = Number(building);

                        //saving room to the database
                        ipcRenderer.sendSync('room:add', { roomName, capacity, center, building });

                        // reload the table
                        ReloadTable();

                    }
                },
            },
            onContentReady: function () {
                $('.lectures').multiselect({
                    search :true,
                    selectAll :true,
                    texts: {
                        placeholder    :'Select lecturer(s)',
                        search         :'Search',
                        selectedOptions:' selected',
                        selectAll      :'Select all',
                        unselectAll    :'Unselect all',
                        noneSelected   :'None Selected'
                    },

                });
                $('.select-dropdown').multiselect({
                    search :true,
                    selectAll :true,
                    texts: {
                        placeholder    :'Select tag(s)',
                        search         :'Search',
                        selectedOptions:' selected',
                        selectAll      :'Select all',
                        unselectAll    :'Unselect all',
                        noneSelected   :'None Selected'
                    },

                });
            }
        });
    }

    function selectGroups(){
        // get all programme data
        const academicList = ipcRenderer.sendSync('academic:get', null);
        const programList = ipcRenderer.sendSync('programme:getAllByRow', null);

        let generatedData = [];

        $.each(programList, function(i, program) {

            const start = program.startYearText;
            const end = program.endYearText;

            const startYear = Number(start.split('.')[0].match(/\d+/));
            const startSem = Number(start.split('.')[1].match(/\d+/));

            const endYear = Number(end.split('.')[0].match(/\d+/));
            const endSem = Number(end.split('.')[1].match(/\d+/));

            $.each(academicList, function(i, years) {

                const YearAC = Number(years.AcademicYearsandSemesters.split('.')[0].match(/\d+/));
                const SemAC = Number(years.AcademicYearsandSemesters.split('.')[1].match(/\d+/));

                if((startYear <= YearAC) && (endYear >=  YearAC)){

                    let isAllowed = false;

                    if(YearAC < endYear){
                        // ok
                        isAllowed = true;
                    }else if((YearAC === startYear) && (startSem <= SemAC)){
                        // ok
                        isAllowed = true;
                    }else if((YearAC === endYear) && (endSem >= SemAC)){
                        //ok
                        isAllowed = true;
                    }

                    if(isAllowed){
                        const displayData = years.AcademicYearsandSemesters + '.' + program.name;

                        const holdData = ipcRenderer.sendSync('hold-group:getByName', displayData);

                        if(holdData.length == 0){
                            const existsData = ipcRenderer.sendSync('group:getByName', displayData);

                            let groupCal = 0;
                            let studentCal = 0;

                            if(existsData.length > 0){
                                groupCal = existsData[0].groupCount;
                                studentCal = existsData[0].studentCount;
                            }

                            generatedData.push({id: years.id, name : displayData, group : groupCal, students : studentCal});
                        }


                    }
                }

            });

        });

        return generatedData;
    }

    function groupOnChange(){
        const groupCount = $('.groups option:selected').attr('count');
        if(groupCount === 'undefined'){
            $('.sub-groups').empty();
        }

        let dataForChild = [];
        for(let x = 0; x < groupCount; x++){

            const groupNameSub =$('.groups option:selected').text() + '.'+ (x+1);

            const holdData = ipcRenderer.sendSync('hold-sub-group:getByName', groupNameSub);

            if(holdData.length == 0){
                const dataSub = ipcRenderer.sendSync('sub-group:getByName', groupNameSub);

                let count = 0;

                if(dataSub.length > 0){
                    count = dataSub[0].studentCount;
                }

                dataForChild.push({id : x, name : groupNameSub, no: count });
            }
        }

        $('.sub-groups').empty();

        $.each(dataForChild, function (){
            $(".sub-groups").append($("<option     />").val(this.id).text(this.name));
        });

    }

</script>

</html>
