<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Schedule App</title>
    <link rel="stylesheet" href="../index.css" />
    <link rel="stylesheet" href="../public/boostrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../public/style/slider-custom.css" />
    <link rel="stylesheet" href="../public/jConfirm/jquery-confirm.min.css" />
    <link rel="stylesheet" href="../public/jtoaster/jquery.toast.min.css" />
    <link rel="stylesheet" href="../public/datatable/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="../public/style/slimselect.min.css" />
    <link rel="stylesheet" href="../public/mutiselect/jquery.multiselect.css" />
</head>
<body>
<div class="row" style="position: relative;width: calc(100vw - 2px);height: 100%;">

    <div id="navBarID" class="wrapper d-flex align-items-stretch" style="height: 100%">


        <!-- Page Content  -->
        <div class="w-100">
            <div class="w-100 title-custom">
                <h2 class="title-font-custom">Sessions</h2>
            </div>
            <div>
                <div class="card margin-1-custom">
                    <div class="card-body">

                        <button type="button" id="btnAdd" class="btn btn-success float-right mb-2" onclick="AddNewSession()">Add New</button>

                        <table id="sessionTable" class="display" style="width:100%">
                            <thead>
                            <tr>
                                <th>Lecturer(s)</th>
                                <th>Subject</th>
                                <th>Subject code</th>
                                <th>Tag(s)</th>
                                <th>program</th>
                                <th>group</th>
                                <th>sub-group</th>
                                <th>Student count</th>
                                <th>Duration</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>

    </div>

</div>



</body>

<!-- Insert this line above script imports  -->
<script>
    if (typeof module === "object") {
        window.module = module;
        module = undefined;
    }
</script>

<!-- normal script imports etc  -->
<script src="../public/jquery.min.js"></script>
<script src="../public/popper.min.js"></script>
<script src="../public/boostrap/bootstrap.min.js"></script>
<script src="../public/script/slider-custom.js"></script>
<script src="../public/jConfirm/jquery-confirm.min.js"></script>
<script src="../public/jtoaster/jquery.toast.min.js"></script>
<script src="../public/datatable/jquery.dataTables.min.js"></script>
<script src="../public/script/slimselect.min.js"></script>
<script src="../public/mutiselect/jquery.multiselect.js"></script>

<!-- Insert this line after script imports -->
<script>

    if (window.module) module = window.module;
    const { navBar } = require('../siteMaster');

    const electron = require('electron');
    const {generateSessionDetailObjects} = require("../services/applicationServices/commonServices");
    const { ipcRenderer } = electron;

    $(window).on("load", function () {
        $("#navBarID").prepend(navBar);

        // highlight page
        $('#liSession').addClass('active');

    });

    $(function() {
        LoadTable();
    });


    function LoadTable(){

        // get all room data
        const sessionList = generateSessionDetailObjects(ipcRenderer);

        var tblDatatable = $("#sessionTable"); //find the table by id

        // table filling and initializing as data-table
        tblDatatable.DataTable ({
            "data" : sessionList,
            "ordering": false,
            "columns" : [
                { "data" : "lecturerNames" },
                { "data" : "subjectName" },
                { "data" : "subjectCode" },
                { "data" : "tagNames" },
                { "data" : "groupName" },
                { "data" : "subGroup" },
                { "data" : "subSubGroup" },
                { "data" : "student" },
                { "data" : "duration" },
                { 'data': null, className: 'text-center no-sort', 'render': function (data, type, row) {
                        return `<button type="botton" class="btn btn-warning btn-header" onclick="EditSession(${data.id})"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>`
                    }
                },
                { 'data': null, className: 'text-center no-sort', 'render': function (data, type, row) {
                        return `<button type="botton" class="btn btn-danger btn-header" onclick="removeSession(${data.id},'${data.lecturerNames}')"><i class="fa fa-pencil" aria-hidden="true"></i> Delete</button>`
                    }
                },
            ]
        });

    }

    function ReloadTable(){
        if ( $.fn.DataTable.isDataTable('#sessionTable') ) {
            $('#sessionTable').DataTable().destroy();
        }

        $('#sessionTable tbody').empty();
        LoadTable();
    }

    function AddNewSession(){
        const lectures = ipcRenderer.sendSync('lecturer:get', null);
        let lecturesSelection = '<select class="form-control lectures select-dropdown" required multiple="multiple">';
        $.each(lectures, function(i, center) {
            lecturesSelection += '<option value="' + center.id + '">' + center.lecturerName + '</option>';
        });
        lecturesSelection += '</select>';

        const tags = ipcRenderer.sendSync('tag:get', null);
        let tagsSelection = '<select class="form-control tags select-dropdown" required multiple="multiple">';
        $.each(tags, function(i, tag) {
            tagsSelection += '<option value="' + tag.id + '">' + tag.tagName + '</option>';
        });
        tagsSelection += '</select>';

        const groups = selectGroups();

        let groupSelection = '<select class="form-control groups" required onchange="groupOnChange()">';
        groupSelection += '<option value="0" selected disabled>Select group</option>';
        $.each(groups, function(i, group) {
            groupSelection += '<option value="' + group.id + '" count="' + group.group + '">' + group.name + '</option>';
        });
        groupSelection += '</select>';

        const subjects = ipcRenderer.sendSync('subject:get', null);

        let subjectSelection = '<select class="form-control subject" required>';
        subjectSelection += '<option value="0" selected disabled>Select subject</option>';
        $.each(subjects, function(i, group) {
            subjectSelection += '<option value="' + group.id + '" >' + group.subjectName + '</option>';
        });
        subjectSelection += '</select>';

        const subGroupSelection = '<select class="form-control sub-groups" required onchange="selectSubGroup()"></select>';

        const subSubGroupSelection = '<select class="form-control sub-sub-groups" required"></select>';

        $.confirm({
            title: 'New Session',
            content: `
                <div>
                    <div class="form-group">
                        <label>Select lecturer(s)</label>
                        ${lecturesSelection}
                        <label>Select subject</label>
                        ${subjectSelection}
                        <label>Select tag(s)</label>
                        ${tagsSelection}
                        <label>Select program</label>
                        ${groupSelection}
                        <label>Select group</label>
                        ${subGroupSelection}
                        <label>Select sub group</label>
                        ${subSubGroupSelection}
                        <label for="countNumber">Enter student count</label>
                        <input type="number" min="1" id="countNumber" placeholder="count" class="count form-control" required />
                        <label>Enter duration</label>
                        <input type="number" min="1" max="2" class="duration form-control">
                    </div>
                </div>`,
            buttons: {
                cancel: function () {
                    //close
                },
                formSubmit: {
                    text: 'Submit',
                    btnClass: 'btn-blue',
                    action: function () {
                        let lectures = this.$content.find('.lectures').val().join(',');
                        let tags = this.$content.find('.tags').val().join(',');
                        let groups = this.$content.find('.groups').val();
                        let subGroups = this.$content.find('.sub-groups option:selected').text();
                        let count = this.$content.find('.count').val();
                        let duration = this.$content.find('.duration').val();
                        let subject = this.$content.find('.subject').val();
                        let subSubGroups = this.$content.find('.sub-sub-groups option:selected').text();

                        //check the name is not empty value
                        if (!lectures) {
                            $.alert('please select at least 1 lecturer');
                            return false;
                        }
                        if (!subject) {
                            $.alert('please select subject');
                            return false;
                        }
                        if (!tags) {
                            $.alert('Provide a valid tag(s)');
                            return false;
                        }
                        if (!groups) {
                            $.alert('Select a valid group');
                            return false;
                        } else groups = Number(groups);
                        if (!count) {
                            $.alert('Select a valid student count');
                            return false;
                        } else count = Number(count);
                        if (!duration) {
                            $.alert('Select a valid duration');
                            return false;
                        } else duration = Number(duration);

                        //saving room to the database
                        ipcRenderer.sendSync('session:add', {
                            lectures,
                            tags,
                            sgroup : groups,
                            subGroup : subGroups,
                            student : count,
                            duration,
                            subject,
                            subSubGroup : subSubGroups
                        });

                        // reload the table
                        ReloadTable();

                    }
                },
            },
            onContentReady: function () {
                $('.lectures').multiselect({
                    search :true,
                    selectAll :true,
                    texts: {
                        placeholder    :'Select lecturer(s)',
                        search         :'Search',
                        selectedOptions:' selected',
                        selectAll      :'Select all',
                        unselectAll    :'Unselect all',
                        noneSelected   :'None Selected'
                    },

                });
                $('.select-dropdown').multiselect({
                    search :true,
                    selectAll :true,
                    texts: {
                        placeholder    :'Select tag(s)',
                        search         :'Search',
                        selectedOptions:' selected',
                        selectAll      :'Select all',
                        unselectAll    :'Unselect all',
                        noneSelected   :'None Selected'
                    },

                });
            }
        });
    }


    function EditSession(sessionID){
        const lectures = ipcRenderer.sendSync('lecturer:get', null);
        let lecturesSelection = '<select class="form-control lectures select-dropdown" required multiple="multiple">';
        $.each(lectures, function(i, center) {
            lecturesSelection += '<option value="' + center.id + '">' + center.lecturerName + '</option>';
        });
        lecturesSelection += '</select>';

        const tags = ipcRenderer.sendSync('tag:get', null);
        let tagsSelection = '<select class="form-control tags select-dropdown" required multiple="multiple">';
        $.each(tags, function(i, tag) {
            tagsSelection += '<option value="' + tag.id + '">' + tag.tagName + '</option>';
        });
        tagsSelection += '</select>';

        const groups = selectGroups();

        let groupSelection = '<select class="form-control groups" required onchange="groupOnChange()">';
        groupSelection += '<option value="0" selected disabled>Select program</option>';
        $.each(groups, function(i, group) {
            groupSelection += '<option value="' + group.id + '" count="' + group.group + '">' + group.name + '</option>';
        });
        groupSelection += '</select>';

        const subjects = ipcRenderer.sendSync('subject:get', null);

        let subjectSelection = '<select class="form-control subject" required>';
        subjectSelection += '<option value="0" selected disabled>Select subject</option>';
        $.each(subjects, function(i, group) {
            subjectSelection += '<option value="' + group.id + '" >' + group.subjectName + '</option>';
        });
        subjectSelection += '</select>';

        const subGroupSelection = '<select class="form-control sub-groups" required onchange="selectSubGroup()"></select>';

        const subSubGroupSelection = '<select class="form-control sub-sub-groups" required"></select>';

        $.confirm({
            title: 'New Session',
            content: `
                <div>
                    <div class="form-group">
                        <label>Select lecturer(s)</label>
                        ${lecturesSelection}
                        <label>Select subject</label>
                        ${subjectSelection}
                        <label>Select tag(s)</label>
                        ${tagsSelection}
                        <label>Select program</label>
                        ${groupSelection}
                        <label>Select group</label>
                        ${subGroupSelection}
                        <label>Select sub group</label>
                        ${subSubGroupSelection}
                        <label for="countNumber">Enter student count</label>
                        <input type="number" min="1" id="countNumber" placeholder="count" class="count form-control" required />
                        <label>Enter duration</label>
                        <input type="number" min="1" max="2" class="duration form-control">
                    </div>
                </div>`,
            buttons: {
                cancel: function () {
                    //close
                },
                formSubmit: {
                    text: 'Update',
                    btnClass: 'btn-blue',
                    action: function () {
                        let lectures = this.$content.find('.lectures').val().join(',');
                        let tags = this.$content.find('.tags').val().join(',');
                        let groups = this.$content.find('.groups').val();
                        let subGroups = this.$content.find('.sub-groups option:selected').text();
                        let count = this.$content.find('.count').val();
                        let duration = this.$content.find('.duration').val();
                        let subject = this.$content.find('.subject').val();
                        let subSubGroups = this.$content.find('.sub-groups option:selected').text();
                        debugger;
                        //check the name is not empty value
                        if (!lectures) {
                            $.alert('please select at least 1 lecturer');
                            return false;
                        }
                        if (!subject) {
                            $.alert('please select subject');
                            return false;
                        }
                        if (!tags) {
                            $.alert('Provide a valid tag(s)');
                            return false;
                        }
                        if (!groups) {
                            $.alert('Select a valid group');
                            return false;
                        } else groups = Number(groups);
                        if (!count) {
                            $.alert('Select a valid student count');
                            return false;
                        } else count = Number(count);
                        if (!duration) {
                            $.alert('Select a valid duration');
                            return false;
                        } else duration = Number(duration);

                        //saving room to the database
                        ipcRenderer.sendSync('session:update', {
                            id : sessionID,
                            lectures,
                            tags,
                            sgroup : groups,
                            subGroup : subGroups,
                            student : count,
                            duration,
                            subject,
                            subSubGroup : subSubGroups
                        });

                        // reload the table
                        ReloadTable();

                    }
                },
            },
            onContentReady: function () {
                $('.lectures').multiselect({
                    search :true,
                    selectAll :true,
                    texts: {
                        placeholder    :'Select lecturer(s)',
                        search         :'Search',
                        selectedOptions:' selected',
                        selectAll      :'Select all',
                        unselectAll    :'Unselect all',
                        noneSelected   :'None Selected'
                    },

                });
                $('.select-dropdown').multiselect({
                    search :true,
                    selectAll :true,
                    texts: {
                        placeholder    :'Select tag(s)',
                        search         :'Search',
                        selectedOptions:' selected',
                        selectAll      :'Select all',
                        unselectAll    :'Unselect all',
                        noneSelected   :'None Selected'
                    },

                });
                const sessionDetailobj = ipcRenderer.sendSync('session:getByID', sessionID);

                if(sessionDetailobj.length === 0)
                    return ;

                const sessionDetail = sessionDetailobj[0];


                $.each(sessionDetail.lectures.split(","), function(i,e){
                    $(".lectures option[value='" + Number(e) + "']").prop("selected", true);
                });

                $(".lectures").multiselect('reload');

                $.each(sessionDetail.tags.split(","), function(i,e){
                    $(".tags option[value='" + e + "']").prop("selected", true);
                });

                $(".tags").multiselect('reload');

                this.$content.find('.groups').val(sessionDetail.sgroup);
                groupOnChange();
                this.$content.find('.sub-groups').val(sessionDetail.subGroup);
                selectSubGroup();
                this.$content.find('.sub-sub-groups').val(sessionDetail.subSubGroup);
                this.$content.find('.count').val(sessionDetail.student);
                this.$content.find('.duration').val(sessionDetail.duration);
                this.$content.find('.subject').val(sessionDetail.subject);

            }
        });
    }

    function selectGroups(){
        // get all programme data
        const academicList = ipcRenderer.sendSync('academic:get', null);
        const programList = ipcRenderer.sendSync('programme:getAllByRow', null);

        let generatedData = [];

        $.each(programList, function(i, program) {

            const start = program.startYearText;
            const end = program.endYearText;

            const startYear = Number(start.split('.')[0].match(/\d+/));
            const startSem = Number(start.split('.')[1].match(/\d+/));

            const endYear = Number(end.split('.')[0].match(/\d+/));
            const endSem = Number(end.split('.')[1].match(/\d+/));

            $.each(academicList, function(i, years) {

                const YearAC = Number(years.AcademicYearsandSemesters.split('.')[0].match(/\d+/));
                const SemAC = Number(years.AcademicYearsandSemesters.split('.')[1].match(/\d+/));

                if((startYear <= YearAC) && (endYear >=  YearAC)){

                    let isAllowed = false;

                    if(YearAC < endYear){
                        // ok
                        isAllowed = true;
                    }else if((YearAC === startYear) && (startSem <= SemAC)){
                        // ok
                        isAllowed = true;
                    }else if((YearAC === endYear) && (endSem >= SemAC)){
                        //ok
                        isAllowed = true;
                    }

                    if(isAllowed){
                        const displayData = years.AcademicYearsandSemesters + '.' + program.name;

                        const holdData = ipcRenderer.sendSync('hold-group:getByName', displayData);

                        if(holdData.length == 0){
                            const existsData = ipcRenderer.sendSync('group:getByName', displayData);

                            let groupCal = 0;
                            let studentCal = 0;
                            let ID_FO = 0;
                            if(existsData.length > 0){
                                groupCal = existsData[0].groupCount;
                                studentCal = existsData[0].studentCount;
                                ID_FO = existsData[0].id;
                            }else{

                                ipcRenderer.sendSync('group:add', {name : displayData, groupCount : 0, studentCount:0});

                                const newData = ipcRenderer.sendSync('group:getByName', displayData);
                                ID_FO = newData[0].id
                            }

                            generatedData.push({id: ID_FO, name : displayData, group : groupCal, students : studentCal});
                        }


                    }
                }

            });

        });

        return generatedData;
    }

    function groupOnChange(){
        const groupCount = $('.groups option:selected').attr('count');
        if(groupCount === 'undefined'){
            $('.sub-groups').empty();
        }

        let dataForChild = [];
        for(let x = 0; x < groupCount; x++){

            const groupNameSub =$('.groups option:selected').text() + '.'+ (x+1);

            const holdData = ipcRenderer.sendSync('hold-sub-group:getByName', groupNameSub);

            if(holdData.length == 0){
                const dataSub = ipcRenderer.sendSync('sub-group:getByName', groupNameSub);

                let count = 0;

                if(dataSub.length > 0){
                    count = dataSub[0].studentCount;
                }

                dataForChild.push({id : x, name : groupNameSub, no: count });
            }
        }

        $('.sub-groups').empty();

        $.each(dataForChild, function (){
            $(".sub-groups").append($("<option     />").val(this.name).text(this.name));
        });
        selectSubGroup();
    }

    function selectSubGroup(){
        const group = $('.sub-groups').val();
        debugger;
        if(!group){
            return ;
        }

        const academicList = ipcRenderer.sendSync('extend-group:getByName', group);
        const counter = academicList.length > 0 ? academicList[0].groupCount : 0;
        const dataForChild = [];

        for(let x = 0; x < counter; x++){
            const groupNameSub = group + '.'+ (x+1);

            const holdData = ipcRenderer.sendSync('extend-hold-sub-group:getByName', groupNameSub);

            if(holdData.length == 0){
                const dataSub = ipcRenderer.sendSync('extend-sub-group:getByName', groupNameSub);

                let count = 0;

                if(dataSub.length > 0){
                    count = dataSub[0].studentCount;
                }

                dataForChild.push({id : x, name : groupNameSub, no: count });
            }
        }
        $('.sub-sub-groups').empty();

        $.each(dataForChild, function (){
            $(".sub-sub-groups").append($("<option     />").val(this.name).text(this.name));
        });

    }

    function removeSession(id, name){
        $.confirm({
            title: 'Confirm!',
            content: 'Confirm to remove "'+ name + '"',
            buttons: {
                confirm:  {
                    text: 'confirm', // text for button
                    btnClass: 'btn-danger', // class for the button
                    action: function(){
                        ipcRenderer.sendSync('session:remove', id);

                        ReloadTable();
                    }
                },
                cancel: {
                    text: 'cancel', // text for button
                    btnClass: 'btn-warning', // class for the button
                    action: function(){

                    }
                }
            }
        });
    }

</script>

</html>
