<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Schedule App</title>
    <link rel="stylesheet" href="../index.css" />
    <link rel="stylesheet" href="../public/boostrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../public/style/slider-custom.css" />
    <link rel="stylesheet" href="../public/style/hours-custom.css" />
    <link rel="stylesheet" href="../public/style/studenthome.css" />
    <link rel="stylesheet" href="../public/style/material-custom.css" />
    <link rel="stylesheet" href="../public/jConfirm/jquery-confirm.min.css" />
    <link rel="stylesheet" href="../public/jtoaster/jquery.toast.min.css" />

    <style>
        .my-card
        {
            position:absolute;
            left:40%;
            top:-20px;
            border-radius:50%;
        }
    </style>

</head>
<body>
<div class="row" style="position: relative;width: calc(100vw - 2px);height: 100%;">

    <div id="navBarID" class="wrapper d-flex align-items-stretch" style="height: 100%">


        <!-- Page Content  -->
        <div class="w-100">
            <div class="w-100 title-custom">
                <h2 class="title-font-custom">Settings</h2>
            </div>
            <div>
                <div class="card margin-1-custom">
                    <div class="jumbotron">
                        <div class="row w-100">
                            <div class="col-md-3">
                                <div class="card border-info mx-sm-1 p-3" style="cursor: pointer;min-height: 200px;" onclick="RedirectTo('days')">
                                    <div class="card border-info shadow text-info p-3 my-card" ><span class="fa fa-sun-o" aria-hidden="true"></span></div>
                                    <div class="text-info text-center mt-3"><h4></h4></div>
                                    <div class="text-info text-center mt-2"><h2>Days</h2></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card border-success mx-sm-1 p-3" style="cursor: pointer;min-height: 200px;" onclick="RedirectTo('faculties')">
                                    <div class="card border-success shadow text-success p-3 my-card"><span class="fa fa-archive" aria-hidden="true"></span></div>
                                    <div class="text-success text-center mt-3"><h4></h4></div>
                                    <div class="text-success text-center mt-2"><h2>Faculties</h2></div>
                                </div>
                            </div>
                            
                            <div class="col-md-3">
                                <div class="card border-danger mx-sm-1 p-3" style="cursor: pointer;min-height: 200px;" onclick="RedirectTo('departments')">
                                    <div class="card border-danger shadow text-danger p-3 my-card" ><span class="fa fa-university" aria-hidden="true"></span></div>
                                    <div class="text-danger text-center mt-3"><h4></h4></div>
                                    <div class="text-danger text-center mt-2"><h2>Departments</h2></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card border-warning mx-sm-1 p-3" style="cursor: pointer;min-height: 200px;" onclick="RedirectTo('centers')">
                                    <div class="card border-warning shadow text-warning p-3 my-card" ><span class="fa fa-globe" aria-hidden="true"></span></div>
                                    <div class="text-warning text-center mt-3"><h4></h4></div>
                                    <div class="text-warning text-center mt-2"><h2>Centers</h2></div>
                                </div>
                            </div>
                        </div>
                        <div class="row w-100">
                            <div class="col-md-3">
                                <div class="card border-success mx-sm-1 p-3 mt-4" style="cursor: pointer;min-height: 200px;" onclick="RedirectTo('buildings')">
                                    <div class="card border-success shadow text-warning p-3 my-card" ><span class="fa fa-building" aria-hidden="true"></span></div>
                                    <div class="text-warning text-center mt-3"><h4></h4></div>
                                    <div class="text-warning text-center mt-2"><h2>Buildings</h2></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card border-info mx-sm-1 p-3 mt-4" style="cursor: pointer;min-height: 200px;" onclick="RedirectTo('levels')">
                                    <div class="card border-info shadow text-warning p-3 my-card" ><span class="fa fa-star-half-o" aria-hidden="true"></span></div>
                                    <div class="text-warning text-center mt-3"><h4></h4></div>
                                    <div class="text-warning text-center mt-2"><h2>Levels</h2></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card border-warning mx-sm-1 p-3 mt-4" style="cursor: pointer;min-height: 200px;" onclick="RedirectTo('rooms')">
                                    <div class="card border-warning shadow text-warning p-3 my-card" ><span class="fa fa-window-maximize" aria-hidden="true"></span></div>
                                    <div class="text-warning text-center mt-3"><h4></h4></div>
                                    <div class="text-warning text-center mt-2"><h2>Rooms</h2></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>



</body>

<!-- Insert this line above script imports  -->
<script>
    if (typeof module === "object") {
        window.module = module;
        module = undefined;
    }
</script>

<!-- normal script imports etc  -->
<script src="../public/jquery.min.js"></script>
<script src="../public/popper.min.js"></script>
<script src="../public/boostrap/bootstrap.min.js"></script>
<script src="../public/script/slider-custom.js"></script>
<script src="../public/jConfirm/jquery-confirm.min.js"></script>
<script src="../public/jtoaster/jquery.toast.min.js"></script>

<!-- Insert this line after script imports -->
<script>

    if (window.module) module = window.module;
    const { navBar } = require('../siteMaster');

    //import external js
    //$.getScript('../systemConst.js');
    //$.getScript('../services/systemSessionContainer.js');

    $(window).on("load", function () {
        $("#navBarID").prepend(navBar);

        // highlight page
        $('#liSettings').addClass('active');

    });

    $(function() {
    });

    function RedirectTo(value){
        switch (value) {
            case 'days':
                window.location.href = "./days.html";
                break;
            case 'faculties':
                window.location.href = "./faculties.html";
                break;
            case 'centers':
                window.location.href = "./centers.html";
                break;
            case 'buildings':
                window.location.href = "./buildings.html";
                break;
            case 'levels':
                window.location.href = "./levels.html";
                break;
            case 'rooms':
                window.location.href = "./rooms.html";
                break;
            case 'departments':
                window.location.href = "./departments.html";
                break;
        }
    }

</script>

</html>
