<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Schedule App</title>
    <link rel="stylesheet" href="../index.css" />
    <link rel="stylesheet" href="../public/boostrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../public/style/slider-custom.css" />
    <link rel="stylesheet" href="../public/jConfirm/jquery-confirm.min.css" />
    <link rel="stylesheet" href="../public/jtoaster/jquery.toast.min.css" />
    <link rel="stylesheet" href="../public/datatable/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="../public/style/back-button-custom.css" />
    <link rel="stylesheet" href="../public/style/custom-back.css" />

</head>
<body>
<div class="row" style="position: relative;width: calc(100vw - 2px);height: 100%;">

    <div id="navBarID" class="wrapper d-flex align-items-stretch" style="height: 100%">


        <!-- Page Content  -->
        <div class="w-100">
            <div class="w-100 title-custom form-inline">
                <button type="button" class="btn btn-warning btn-arrow-left" style="margin-left: 6%;" onclick="window.location.href='./student.html'">Back</button>
                <h2 class="title-font-custom">Sub-Groups</h2>
            </div>
            <div>
                <div class="card margin-1-custom">
                    <div class="card-body">
                        <button type="button" class="btn btn-warning float-right mb-2" onclick="RestoreAll()">Reset All Deletes</button>
                        <table id="tblProgramme" class="display" style="width:100%">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Groups</th>
                                <th>No of sub groups</th>
                                <th>No Of Students</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>



</body>

<!-- Insert this line above script imports  -->
<script>
    if (typeof module === "object") {
        window.module = module;
        module = undefined;
    }
</script>

<!-- normal script imports etc  -->
<script src="../public/jquery.min.js"></script>
<script src="../public/popper.min.js"></script>
<script src="../public/boostrap/bootstrap.min.js"></script>
<script src="../public/script/slider-custom.js"></script>
<script src="../public/jConfirm/jquery-confirm.min.js"></script>
<script src="../public/jtoaster/jquery.toast.min.js"></script>
<script src="../public/datatable/jquery.dataTables.min.js"></script>

<!-- Insert this line after script imports -->
<script>

    if (window.module) module = window.module;
    const { navBar } = require('../siteMaster');

    const electron = require('electron');
    const { ipcRenderer } = electron;

    $(window).on("load", function () {
        $("#navBarID").prepend(navBar);

        // highlight page
        $('#liStudent').addClass('active');

    });

    let table;

    $(function() {
        LoadTable();

        $('#tblProgramme tbody').on('click', 'td.details-control', function () {
            LoadChildTable($(this), true);
        });

        $('.cls-group-count').on('input propertychange paste', function() {

            var tr = $(this).closest('tr');
            var row = table.row(tr);

            let groupName = row.data().name;
            const groupCount = tr.find('.cls-group-count').val();
            const studentCount = tr.find('.cls-student-count').val();
            const data = ipcRenderer.sendSync('extend-group:getByName', groupName);

            console.log(data);

            if(data.length > 0){
                ipcRenderer.sendSync('extend-group:update', {name : groupName, groupCount : groupCount, studentCount : studentCount});
                ipcRenderer.sendSync('sub-group:update', {name : groupName, studentCount : studentCount});
            }else{
                ipcRenderer.sendSync('extend-group:add', {name : groupName, groupCount : groupCount, studentCount : studentCount});
            }

            ReloadTableChild($(this));
        });

        $('.cls-student-count').on('input propertychange paste', function() {

            var tr = $(this).closest('tr');
            var row = table.row(tr);

            let groupName = row.data().name;
            const groupCount = tr.find('.cls-group-count').val();
            const studentCount = tr.find('.cls-student-count').val();
            const data = ipcRenderer.sendSync('extend-group:getByName', groupName);

            console.log(data);

            if(data.length > 0){
                ipcRenderer.sendSync('extend-group:update', {name : groupName, groupCount : groupCount, studentCount : studentCount});
                ipcRenderer.sendSync('sub-group:update', {name : groupName, studentCount : studentCount});
            }else{
                ipcRenderer.sendSync('extend-group:add', {name : groupName, groupCount : groupCount, studentCount : studentCount});
            }
        });


        $('body').on('input propertychange paste', '.cls-sub-group-count', function() {

            var tr = $(this).closest('tr');
            let groupName = tr.find('.sub-name').html();
            const studentCount = tr.find('.cls-sub-group-count').val();
            const data = ipcRenderer.sendSync('extend-sub-group:getByName', groupName);


            if(data.length > 0){
                ipcRenderer.sendSync('extend-sub-group:update', {name : groupName, studentCount : studentCount});
            }else{
                ipcRenderer.sendSync('extend-sub-group:add', {name : groupName,studentCount : studentCount});
            }
        });


    });

    function LoadChildTable(RowSelected, expandStatus){
        var tr = $(RowSelected).closest('tr');

        var row = table.row(tr);

        const groupCount = tr.find('.cls-group-count').val();

        console.log(row.child.isShown());

        if (row.child.isShown() && expandStatus) {
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            console.log(row.data());

            row.child(format(row.data())).show();

            let dataForChild = [];

            for(let x = 0; x < groupCount; x++){
                const groupNameSub = row.data().name + '.'+ (x+1);

                const holdData = ipcRenderer.sendSync('extend-hold-sub-group:getByName', groupNameSub);

                if(holdData.length == 0){
                    const dataSub = ipcRenderer.sendSync('extend-sub-group:getByName', groupNameSub);

                    let count = 0;

                    if(dataSub.length > 0){
                        count = dataSub[0].studentCount;
                    }

                    dataForChild.push({id : x, name : groupNameSub, no: count });
                }
            }

            var table_id = '#myInnerTable_' + row.data().id;
            var childTable = $(table_id).DataTable({
                "data" : dataForChild,
                pageLength: 100,
                dom: "lrt<'myinfo'i>p",
                initComplete: function () {
                },
                "order": [[0, "asc"]],
                columns: [
                    { 'data': 'name', className: 'sub-name'},
                    { 'data': null, className: 'text-center no-sort', 'render': function (data, type, row) {
                            return `<input type="number" value="${data.no}" class="form-control cls-sub-group-count" placeholder="Enter group count" min="0" step="1" oninput="this.value = Math.round(this.value);">`;
                        }
                    },
                    { 'data': null, className: 'text-center no-sort', 'render': function (data, type, row) {
                            return '<button type="button" class="btn btn-danger btn-header" onclick="deleteSubGroup(' +data.id +',\''+data.name+'\')"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>'
                        }
                    }
                ]
            });


            tr.addClass('shown');
        }
    }

    function LoadTable(){

        // get all programme data
        const academicList = ipcRenderer.sendSync('academic:get', null);
        const programList = ipcRenderer.sendSync('programme:getAllByRow', null);

        let generatedData = [];

        $.each(programList, function(i, program) {

            const start = program.startYearText;
            const end = program.endYearText;

            const startYear = Number(start.split('.')[0].match(/\d+/));
            const startSem = Number(start.split('.')[1].match(/\d+/));

            const endYear = Number(end.split('.')[0].match(/\d+/));
            const endSem = Number(end.split('.')[1].match(/\d+/));

            $.each(academicList, function(i, years) {

                const YearAC = Number(years.AcademicYearsandSemesters.split('.')[0].match(/\d+/));
                const SemAC = Number(years.AcademicYearsandSemesters.split('.')[1].match(/\d+/));

                if((startYear <= YearAC) && (endYear >=  YearAC)){

                    let isAllowed = false;

                    if(YearAC < endYear){
                        // ok
                        isAllowed = true;
                    }else if((YearAC === startYear) && (startSem <= SemAC)){
                        // ok
                        isAllowed = true;
                    }else if((YearAC === endYear) && (endSem >= SemAC)){
                        //ok
                        isAllowed = true;
                    }

                    if(isAllowed){
                        const displayData = years.AcademicYearsandSemesters + '.' + program.name;

                        const holdData = ipcRenderer.sendSync('hold-group:getByName', displayData);

                        if(holdData.length == 0){
                            const existsData = ipcRenderer.sendSync('group:getByName', displayData);
                            let groupCal = 0;
                            let studentCal = 0;

                            if(existsData.length > 0){
                                groupCal = existsData[0].groupCount;
                                studentCal = existsData[0].studentCount;
                            }

                            
                            for(let x = 0; x < groupCal; x++){
                                
                                const groupNameSub = displayData + '.'+ (x+1);
                                const holdDataSub = ipcRenderer.sendSync('hold-sub-group:getByName', groupNameSub);

                                if(holdDataSub.length == 0){
                                    const dataSub = ipcRenderer.sendSync('sub-group:getByName', groupNameSub);

                                    let count = 0;

                                    if(dataSub.length > 0){
                                        count = dataSub[0].studentCount;
                                    }

                                    const existsSubData = ipcRenderer.sendSync('extend-group:getByName', groupNameSub);

                                    let countGroup = 0;

                                    if(existsSubData.length > 0){
                                        countGroup = existsSubData[0].groupCount;
                                    }

                                    generatedData.push({name : groupNameSub, group : countGroup, students : count});
                                }
                            }

                            // if(groupCal == 0){
                            //     generatedData.push({name : displayData, group : groupCal, students : studentCal});
                            // }

                        }


                    }
                }

            });

        });

        var prgrammeTable = $("#tblProgramme"); //find the table by id

        // table filling and initializing as data-table
        table = prgrammeTable .DataTable ({
            "data" : generatedData,
            "ordering": true,
            "order": [[0, 'asc']],
            "columns" : [
                {
                    className: 'details-control small-col',
                    orderable: false,
                    data: null,
                    defaultContent: ''
                },
                { "data" : "name", className: 'name-cus' },
                { 'data': null, className: 'text-center no-sort', 'render': function (data, type, row) {
                        return `<input type="number" value="${data.group}" class="form-control cls-group-count" placeholder="Enter group count" min="0" step="1" oninput="this.value = Math.round(this.value);">`;
                    }
                },
                { 'data': null, className: 'text-center no-sort', 'render': function (data, type, row) {
                        return `<input type="number" value="${data.students}" class="form-control cls-student-count" placeholder="Enter student count" min="0" step="1" oninput="this.value = Math.round(this.value);">`;
                    }
                },
                { 'data': null, className: 'text-center no-sort', 'render': function (data, type, row) {
                        return `<button type="button" class="btn btn-danger btn-header" onclick="deleteProgramme('${data.name}')"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>`
                    }
                },
            ]
        });

    }

    //reload table data
    function ReloadTable(){
        if ( $.fn.DataTable.isDataTable('#tblProgramme') ) {
            $('#tblProgramme').DataTable().destroy();
        }

        $('#tblProgramme tbody').empty();
        LoadTable();
    }

    function ReloadTableChild(rowSelected){

        var tr = $(rowSelected).closest('tr');

        var row = table.row(tr);


        const tableID = 'myInnerTable_'+row.data().id;

        $('#'+tableID).remove();
        LoadChildTable(rowSelected, false);
    }

    function format(rowData) {
        var innerTable = '<table id="myInnerTable_' + rowData.id + '" class="table table-striped table-bordered table-condensed no-footer">';
        innerTable += '<thead><tr>';
        innerTable += '<th>Group</th><th>Number Of Students</th>';
        innerTable += '<th data-orderable="false" class="text-center no-sort">Delete</th>';
        innerTable += '</tr></thead>';
        innerTable += '<tbody></tbody>';
        var tbl = $(innerTable);

        return tbl;
    }

    // delete data
    function deleteProgramme(name){
        $.confirm({
            title: 'Confirm!',
            content: 'Confirm to remove "'+ name + '"',
            buttons: {
                confirm:  {
                    text: 'confirm', // text for button
                    btnClass: 'btn-danger', // class for the button
                    action: function(){
                        ipcRenderer.sendSync('extend-group:add', {name : name});

                        ReloadTable();
                    }
                },
                cancel: {
                    text: 'cancel', // text for button
                    btnClass: 'btn-warning', // class for the button
                    action: function(){

                    }
                }
            }
        });
    }

    // delete data
    function deleteSubGroup(id, name){
        $.confirm({
            title: 'Confirm!',
            content: 'Confirm to remove "'+ name + '"',
            buttons: {
                confirm:  {
                    text: 'confirm', // text for button
                    btnClass: 'btn-danger', // class for the button
                    action: function(){
                        ipcRenderer.sendSync('extend-hold-sub-group:add', {name : name});

                        ReloadTable();
                    }
                },
                cancel: {
                    text: 'cancel', // text for button
                    btnClass: 'btn-warning', // class for the button
                    action: function(){

                    }
                }
            }
        });
    }

    function RestoreAll(){
        $.confirm({
            title: 'Confirm!',
            content: 'Are you sure restore all deletes?',
            buttons: {
                confirm:  {
                    text: 'confirm', // text for button
                    btnClass: 'btn-danger', // class for the button
                    action: function(){
                        ipcRenderer.sendSync('hold-sub-group:removeAll', null);
                        ipcRenderer.sendSync('extend-hold-sub-group:removeAll', null);

                        ReloadTable();
                    }
                },
                cancel: {
                    text: 'cancel', // text for button
                    btnClass: 'btn-warning', // class for the button
                    action: function(){

                    }
                }
            }
        });
    }

</script>

</html>
