<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Schedule App</title>
    <link rel="stylesheet" href="../index.css" />
    <link rel="stylesheet" href="../public/boostrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../public/style/slider-custom.css" />
    <link rel="stylesheet" href="../public/style/hours-custom.css" />
    <link rel="stylesheet" href="../public/style/material-custom.css" />
    <link rel="stylesheet" href="../public/jConfirm/jquery-confirm.min.css" />
    <link rel="stylesheet" href="../public/jtoaster/jquery.toast.min.css" />
    <link rel="stylesheet" href="../public/style/back-button-custom.css" />
    <link rel="stylesheet" href="../public/style/custom-back.css" />

</head>
<body>
<div class="row" style="position: relative;width: calc(100vw - 2px);height: 100%;">

    <div id="navBarID" class="wrapper d-flex align-items-stretch" style="height: 100%">


        <!-- Page Content  -->
        <div class="w-100">
            <div class="w-100 title-custom form-inline">
                <button type="button" class="btn btn-warning btn-arrow-left" style="margin-left: 6%;" onclick="window.location.href='./timetables.html'">Back</button>
                <h2 class="title-font-custom">Timetable for Lecturer</h2>
                <div class="pull-right" style="margin-left: 50%;">
                    <select class="form-control lectures select-dropdown">
                    </select>
                    <button type="button" class="btn btn-success" onclick="PrintElem()">Print</button>
                </div>
            </div>
            <div>
                <div class="margin-1-custom">
                    <div class="card-body">
                        <div id="divTimeTable">

                        </div>
                    </div>
                </div>




            </div>

        </div>

    </div>

</div>



</body>

<!-- Insert this line above script imports  -->
<script>
    if (typeof module === "object") {
        window.module = module;
        module = undefined;
    }
</script>

<!-- normal script imports etc  -->
<script src="../public/jquery.min.js"></script>
<script src="../public/popper.min.js"></script>
<script src="../public/boostrap/bootstrap.min.js"></script>
<script src="../public/script/slider-custom.js"></script>
<script src="../public/jConfirm/jquery-confirm.min.js"></script>
<script src="../public/jtoaster/jquery.toast.min.js"></script>
<script src="../public/moment.js"></script>

<!-- Insert this line after script imports -->
<script>

    if (window.module) module = window.module;
    const { navBar } = require('../siteMaster');
    const { timeTableEnum } = require('../systemConst');
    const { objProx } = require('../services/systemSessionContainer');

    const electron = require('electron');
    const { ipcRenderer } = electron;

    const {
        generateNotAvailableSessionObjects,
        generateNotAvailableLectureObjects
    } = require("../services/applicationServices/commonServices");

    $(window).on("load", function () {
        $("#navBarID").prepend(navBar);

        // highlight page
        $('#liTimetables').addClass('active');

    });

    const allSessions = ipcRenderer.sendSync('session:get', null);
    const allTimeTableData = ipcRenderer.sendSync('timeTableG:get', null);
    const allRoomSessions = ipcRenderer.sendSync('room-sessions:all', null);

    $(function() {
        ViewTemplate();

        const lectures = ipcRenderer.sendSync('lecturer:get', null);
        $.each(lectures, function(i, center) {
            $('.lectures').append($("<option />").val(center.id).text(center.lecturerName));
        });

        FillData();

        $(".lectures").on('change', function(){
            ClearTableData();
            FillData();
        })
    });


    function ViewTemplate(){

        const data = ipcRenderer.sendSync('work:getByTypeRow', objProx.timeTableType);
        const rowsSet = ipcRenderer.sendSync('work:getByType', objProx.timeTableType);

        const maxRowsCount = Math.max.apply(Math, rowsSet.map(function(o) { return o.time; })) * 2;

        let tableHeader =  ' <thead><tr><th scope="col">Time</th>';

        $.each(data, function(i, item) {
            tableHeader += `<th scope="col" day="${item.dayID}">${item.day}</th>`;
        });

        tableHeader += '</tr></thead>';

        let tBody = '';

        let currentTime = '8.30';

        for(let r = 0; r < maxRowsCount; r++)
        {
            let tr = '<tr>';
            for (let c = 0; c < (data.length+1); c++)
            {
                if(c === 0){
                    tr += `<td time="${currentTime}">${currentTime}</td>`;
                }
                else{
                    tr += `<td time="${currentTime}"></td>`;
                }
            }
            currentTime = moment(currentTime,'h:mm').add(30, 'minutes').format('h:mm');

            tBody += tr;
        }

        let content = `<div>
                        <table class="table table-bordered"  id="tbl_timeSlot">
                          ${tableHeader}
                          <tbody>
                            ${tBody}
                          </tbody>
                        </table>
                        </div>`;

        $('#divTimeTable').append(content);

        $('#tbl_timeSlot').find('thead').find('th').each(function (i, item){
            if(i !== 0){
                console.log($(item).attr('day'));

                const currentDayTimeSet = ipcRenderer.sendSync('timetable:getByTypeAndDay', {type : objProx.timeTableType, day: $(item).attr('day')});
                
                $.each(currentDayTimeSet, function(n, timeVal) {
                    $("#tbl_timeSlot tbody>tr").each(function(){
                        
                        let th = $('#tbl_timeSlot th').eq(i).html();
                        const cellTime = $(this).find("td:eq(" + i + ")").attr('time');

                        if(cellTime === timeVal.slot){
                            $(this).find("td:eq(" + i + ")").text('-').addClass(`day_${$(item).attr('day')}`).attr('period', timeVal.period);
                        }

                    });
                });

            }
        });

        $('#tbl_timeSlot').find('tbody').find('tr').find('td').each(function()
        {
            const $this = $(this);
            const index = $this.index();
            const txt =  $this.text();
            
            if ('' === txt)
            {
                $($this.parent().prev().children()[index]).attr('rowspan', 2);
                $this.hide();
            }
        });
    }

    function ClearTableData(){
        const dayIds = [];
        $(`#tbl_timeSlot`).find('thead').find('th').each(function (){
            const has = $(this).attr('day');
            if (typeof has !== typeof undefined && has !== false) {
                dayIds.push(has);
            }
        });

        $.each(dayIds, function (n, dayID) {
            $('#tbl_timeSlot').find('.day_' + dayID).each(function () {
                $(this).html('');
            });
        });
    }

    function FillData(){
        const particularData = allTimeTableData.filter((d) => d.Lecturers.split(',').includes($('.lectures').val()));

        const dayIds = [];
        $(`#tbl_timeSlot`).find('thead').find('th').each(function (){
            const has = $(this).attr('day');
            if (typeof has !== typeof undefined && has !== false) {
                dayIds.push(has);
            }
        });

        $.each(particularData, function (i,item){

            $(`#tbl_timeSlot`).find('.day_' + item.DayID).each(function () {

                const isBooked = $(this).attr('booked');
                if (typeof isBooked === typeof undefined || isBooked === false) {
                    if($(this).attr('time') === item.TimePeriod){
                        debugger;
                        const session = allSessions.filter((f) => item.SessionID.split(',').includes(f.id.toString()));

                        let divContent = `<div>`;
                        divContent += `${session[0].subjectCode}-${session[0].subjectName}`;
                        divContent += `</br>`;
                        divContent += `${session[0].subGroup}`;
                        divContent += `</br>`;

                        //check sub group or group
                        if(item.subSubGroup){
                            divContent += `${session[0].subSubGroup}`;
                            divContent += `</br>`;
                        }

                        // rooms
                        const roomIdSet = [];
                        const roomSet = allRoomSessions.filter((r) => r.session === item.id);
                        $.each(roomSet, function (co, room){
                            divContent += `${room.roomName}`;
                            roomIdSet.push(room.room);
                        });
                        divContent += `</br>`;

                        divContent += `</div>`;
                        let exists = $(this).html();
                        exists += `</br>`;
                        exists += divContent
                        $(this).html(exists).attr('booked',1)
                            .attr('rooms', roomIdSet.join(',')).attr('booked',1);

                    }
                }

            });

        })

    }

    const BrowserWindow = electron.remote.BrowserWindow;

    const current = document.getElementById('current');
    const options = {
        silent: false,
        printBackground: true,
        color: false,
        margin: {
            marginType: 'printableArea'
        },
        landscape: false,
        pagesPerSheet: 1,
        collate: false,
        copies: 1,
        header: 'Header of the Page',
        footer: 'Footer of the Page'
    }

    function PrintElem()
    {
        $('.title-custom').hide();
        let win = BrowserWindow.getFocusedWindow();
        // let win = BrowserWindow.getAllWindows()[0];

        win.webContents.print(options, (success, failureReason) => {
            if (!success){
                $('.title-custom').show();
                console.log(failureReason);
            }
            else{
                $('.title-custom').show();
                console.log('Print Initiated');
            }

        });

    }

</script>

</html>
