<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Schedule App</title>
	<link rel="stylesheet" href="../index.css" />
	<link rel="stylesheet" href="../public/boostrap/bootstrap.min.css" />
	<link rel="stylesheet" href="../public/font-awesome-4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="../public/style/slider-custom.css" />
	<link rel="stylesheet" href="../public/style/hours-custom.css" />
	<link rel="stylesheet" href="../public/style/material-custom.css" />
	<link rel="stylesheet" href="../public/jConfirm/jquery-confirm.min.css" />
	<link rel="stylesheet" href="../public/jtoaster/jquery.toast.min.css" />

</head>
<body>
<div class="row" style="position: relative;width: calc(100vw - 2px);height: 100%;">

	<div id="navBarID" class="wrapper d-flex align-items-stretch" style="height: 100%">


		<!-- Page Content  -->
		<div class="w-100">
			<div class="w-100 title-custom">
				<h2 class="title-font-custom">Configure working days and hours</h2>
			</div>
			<div>
				<div class="card margin-1-custom">
					<div class="card-body">
						<div class="form__group">
							<input type="number" id="txtworkingDays" class="form__field" max="7" placeholder="Enter working days">
							<label for="txtworkingDays" class="form__label">Number of working days per week</label>
						</div>
					</div>
				</div>
				<div class="card margin-1-custom" id="divWorkingDays">

				</div>

			</div>
		</div>

	</div>

</div>



</body>

<!-- Insert this line above script imports  -->
<script>
	if (typeof module === "object") {
		window.module = module;
		module = undefined;
	}
</script>

<!-- normal script imports etc  -->
<script src="../public/jquery.min.js"></script>
<script src="../public/popper.min.js"></script>
<script src="../public/boostrap/bootstrap.min.js"></script>
<script src="../public/script/slider-custom.js"></script>
<script src="../public/jConfirm/jquery-confirm.min.js"></script>
<script src="../public/jtoaster/jquery.toast.min.js"></script>

<!-- Insert this line after script imports -->
<script>

	if (window.module) module = window.module;
	const { navBar } = require('../siteMaster');
	const { timeTableEnum } = require('../systemConst');
	const { objProx } = require('../services/systemSessionContainer');

	//import external js
	//$.getScript('../systemConst.js');
	//$.getScript('../services/systemSessionContainer.js');

	$(window).on("load", function () {
		$("#navBarID").prepend(navBar);

		// highlight page
		$('#liWorkingDays').addClass('active');

	});

	$(function() {
		$.confirm({
			icon: 'fa fa-calendar',
			title: 'Select Timetable Type',
			content: '',
			theme: 'modern',
			closeIcon: true,
			animation: 'scale',
			type: 'blue',
			buttons: {
				Weekday: {
					btnClass: 'btn btn-primary',
					action: function(){
						objProx.timeTableType = timeTableEnum.weekdays;
						console.log(objProx.timeTableType);
					}
				},
				Weekend: {
					btnClass: 'btn btn-success',
					action: function(){
						objProx.timeTableType = timeTableEnum.weekend;
						console.log(objProx.timeTableType);
					}
				}
			},
		});

		$('#txtworkingDays').on('input', function() {

			if($(this).val().length == 0){
				return ;
			}

			var num = parseInt($(this).val(), 10);

			if(num > 7 || num < 0){
				$('#txtworkingDays').val($(this).val().slice(0,-1));
				$.toast({
					heading: 'Error',
					text: 'You cannot enter more than 7 days or less than 0 days !',
					showHideTransition: 'fade',
					icon: 'error'
				});

				return ;
			}

			$('#divWorkingDays').empty();
			for(var i = 0; i< num; i++){
				let content = `
							<div class="card-body row">
							<div class="col-md-4">
							<div class="form__group">
							<input type="text" id="txtDay`+i+ `" class="form__field" placeholder="Enter working days">
							<label for="txtworkingDays2" class="form__label">Number of working days per week</label>
							</div>
							</div>
							<div class="col-md-8">
							<div class="form__group">
							<input type="number" id="txtTime`+i+`" class="form__field" placeholder="Enter working days">
							<label for="txtworkingDays3" class="form__label">Number of working days per week</label>
							</div>
							</div>
							</div>`;



				$('#divWorkingDays').append(content);

			}
			




		});

	});

</script>

</html>
