<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Schedule App</title>
	<link rel="stylesheet" href="../index.css" />
	<link rel="stylesheet" href="../public/boostrap/bootstrap.min.css" />
	<link rel="stylesheet" href="../public/font-awesome-4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="../public/style/slider-custom.css" />
	<link rel="stylesheet" href="../public/style/hours-custom.css" />
	<link rel="stylesheet" href="../public/style/material-custom.css" />
	<link rel="stylesheet" href="../public/jConfirm/jquery-confirm.min.css" />
	<link rel="stylesheet" href="../public/jtoaster/jquery.toast.min.css" />

	<style>
		.card-body {
			-webkit-box-flex: 1;
			-ms-flex: 1 1 auto;
			flex: 1 1 auto;
			padding: 0.25rem;
		}
	</style>

</head>
<body>
<div class="row" style="position: relative;width: calc(100vw - 2px);height: 100%;">

	<div id="navBarID" class="wrapper d-flex align-items-stretch" style="height: 100%">


		<!-- Page Content  -->
		<div class="w-100">
			<div class="w-100 title-custom">
				<h2 class="title-font-custom">Configure working days and hours <span style="cursor: pointer" onclick="changeScheduleType()" class="badge badge-secondary" id="txtTableType">Weekend</span></h2>
			</div>
			<div>
				<div class="card margin-1-custom">
					<div class="card-body">
						<div class="form__group">
							<input type="number" id="txtworkingDays" class="form__field" max="7" placeholder="Enter working days">
							<label for="txtworkingDays" class="form__label">Number of working days per week</label>
						</div>
					</div>
				</div>
				<div class="card margin-1-custom" id="divWorkingDays">

				</div>

			</div>
			<div>
				<button type="button" id="btnSaveAssign" class="btn btn-success float-right" style="display: none" onclick="SaveData()">Save & Assign Timetable Slots</button>
			</div>
		</div>

	</div>

</div>



</body>

<!-- Insert this line above script imports  -->
<script>
	if (typeof module === "object") {
		window.module = module;
		module = undefined;
	}
</script>

<!-- normal script imports etc  -->
<script src="../public/jquery.min.js"></script>
<script src="../public/popper.min.js"></script>
<script src="../public/boostrap/bootstrap.min.js"></script>
<script src="../public/script/slider-custom.js"></script>
<script src="../public/jConfirm/jquery-confirm.min.js"></script>
<script src="../public/jtoaster/jquery.toast.min.js"></script>

<!-- Insert this line after script imports -->
<script>

	if (window.module) module = window.module;
	const { navBar } = require('../siteMaster');
	const { timeTableEnum } = require('../systemConst');
	const { objProx } = require('../services/systemSessionContainer');

	const electron = require('electron');
	const { ipcRenderer } = electron;

	//import external js
	//$.getScript('../systemConst.js');
	//$.getScript('../services/systemSessionContainer.js');

	const { jsonHasKeyValFoRDays } = require('../services/applicationServices/commonServices');

	$(window).on("load", function () {
		$("#navBarID").prepend(navBar);

		// highlight page
		$('#liWorkingDays').addClass('active');

	});

	function changeScheduleType(){
		$.confirm({
			icon: 'fa fa-calendar',
			title: 'Select Timetable Type',
			content: '',
			theme: 'modern',
			closeIcon: true,
			animation: 'scale',
			type: 'blue',
			buttons: {
				Weekday: {
					btnClass: 'btn btn-primary',
					action: function(){
						objProx.timeTableType = timeTableEnum.weekdays;
						$('#txtTableType').html('Weekday');
						LoadData();
					}
				},
				Weekend: {
					btnClass: 'btn btn-success',
					action: function(){
						objProx.timeTableType = timeTableEnum.weekend;
						console.log(objProx.timeTableType);
						$('#txtTableType').html('Weekend');
						LoadData();
					}
				}
			},
		});
	}

	function LoadData(){
		const data = ipcRenderer.sendSync('work:getByType', objProx.timeTableType);

		$('#txtworkingDays').val(data.length);

		const daySet = ipcRenderer.sendSync('day:get', null);

		$('#divWorkingDays').empty();

		$.each(data, function(i, item) {

			let ddl = '<select class="form-control cls-day">';
			ddl += '<option value="0"> Select day </option>';
			$.each(daySet, function(i, itemDay) {

				if(itemDay.id == item.day){
					ddl += '<option selected="selected" value="'+ itemDay.id +'">'+itemDay.day+'</option>';

				}
				else {
					ddl += '<option value="' + itemDay.id + '">' + itemDay.day + '</option>';
				}
			});
			ddl += '</select>';

			let content = `
							<div class="card-body row">
							<div class="col-md-4">
							<div class="form__group">
							${ddl}
							</div>
							</div>
							<div class="col-md-3">
							<div class="form__group">
							<input type="number" id="txtTime${i}" class="form__field cls-time" placeholder="Enter working time (hh:mm)" value="${item.time}" required min="0" step="0.01"
							pattern="^\\d+(?:\\.\\d{1,2})?$" onblur=" this.parentNode.parentNode.style.backgroundColor=/^\\d+(?:\\.\\d{1,2})?$/.test(this.value)?'inherit':'red' ">
							<label for="txtworkingDays3" class="form__label">Working time (hh:mm)</label>
							</div>
							</div>
							<div class="col-md-5" />
							</div>`;

			$('#divWorkingDays').append(content);
		});

		if(data.length > 0){
			$('#btnSaveAssign').show();
		}else{
			$('#btnSaveAssign').hide();
		}


	}

	$(function() {

		changeScheduleType();
		LoadData();

		$('#txtworkingDays').on('input', function() {

			if($(this).val().length == 0){
				$('#divWorkingDays').empty();
				$('#btnSaveAssign').hide();
				return ;
			}

			var num = parseInt($(this).val(), 10);

			if(num > 7 || num < 0){
				$('#txtworkingDays').val($(this).val().slice(0,-1));
				$.toast({
					heading: 'Error',
					text: 'You cannot enter more than 7 days or less than 0 days !',
					showHideTransition: 'fade',
					icon: 'error'
				});

				return ;
			}
			if(num === 0){
				$('#divWorkingDays').empty();
			}else{
				if ($(".cls-day").length > num){

					for(let x = 0; x < ($(".cls-day").length - num) ; x++){
						$('.card-body').last().remove();
					}

					$('#btnSaveAssign').show();
					return ;
				}
			}

			num -=  $(".cls-day").length;


			const daySet = ipcRenderer.sendSync('day:get', null);

			let ddl = '<select class="form-control cls-day">';
			ddl += '<option value="0"> Select day </option>';
			$.each(daySet, function(i, item) {
				ddl += '<option value="'+ item.id +'">'+item.day+'</option>';
			});
			ddl += '</select>';

			for(var i = 0; i< num; i++){
				let content = `
							<div class="card-body row">
							<div class="col-md-4">
							<div class="form__group">
							`+ddl+`
							</div>
							</div>
							<div class="col-md-3">
							<div class="form__group">
							<input type="number" id="txtTime`+i+`" class="form__field cls-time" placeholder="Enter working time (hh:mm)" required min="0" step="0.01"
							pattern="^\\d+(?:\\.\\d{1,2})?$" onblur=" this.parentNode.parentNode.style.backgroundColor=/^\\d+(?:\\.\\d{1,2})?$/.test(this.value)?'inherit':'red' ">
							<label for="txtworkingDays3" class="form__label">Working time (hh:mm)</label>
							</div>
							</div>
							<div class="col-md-5" />
							</div>`;

				$('#divWorkingDays').append(content);

			}
			$('#btnSaveAssign').show();

		});

	});

	function SaveData(){

		let count = 0;

		let errorCounter = 0;

		$(".cls-day").map(function() {

			if($(this).val() == '0'){
				errorCounter++;
			}
			if($(this).closest('.card-body').find('.cls-time').val().length <= 0){
				errorCounter++;
			}

			count++;
		}).get();

		if($(".cls-day").length <= 0){
			ipcRenderer.sendSync('work:deactivateAll', objProx.timeTableType);
			return;
		}

		if(errorCounter > 0){
			$.toast({
				heading: 'Error',
				text: 'Please select days and times to continue.',
				showHideTransition: 'fade',
				icon: 'error'
			});
			return ;
		}

		//get existing data
		const workDataSet = ipcRenderer.sendSync('work:getByType', objProx.timeTableType);

		console.log(workDataSet);

		let deleteValues = [];

		$(".cls-day").map(function() {

			const dayId = $(this).val();
			const daytime = $(this).closest('.card-body').find('.cls-time').val();
			if (jsonHasKeyValFoRDays(workDataSet, dayId)){

				const dataSet = ipcRenderer.sendSync('work:getByTypeAndDay', {type : objProx.timeTableType, day : dayId});

				ipcRenderer.sendSync('work:update', {id :dataSet[0].id, day : dayId, time :daytime });
			}else{
				ipcRenderer.sendSync('work:add', {day : dayId, time : daytime, type : objProx.timeTableType});
			}

			deleteValues.push(dayId.toString());

			count++;
		}).get();
		$.each(workDataSet, function(i, item) {
			if($.inArray(item.day.toString(), deleteValues) === -1){
				ipcRenderer.sendSync('work:deactivate', {day : item.day, type : objProx.timeTableType});
			}
		});

		$.toast({
			heading: 'Success',
			text: 'Saved Successfully',
			showHideTransition: 'fade',
			icon: 'success'
		});

		window.location.href = "./timeSlots.html?type="+objProx.timeTableType;

		return ;


	}

</script>

</html>
